<html>
<head>
	<meta charset="utf-8">
	<title>{include title}</title>
	<style>
		.body {
			background-color: #ebedef;
			color: #000000;
		}
		.content {
			padding: 18px !important;
			margin-bottom: 32px;
			word-wrap: break-word;
			background-clip: border-box;
			border: 1px solid;
			border-radius: 4px;
			background-color: #ffffff;
			border-color: #d8dbe0;
		}
		.container {
			margin: auto;
			padding-left: 16px;
			padding-right: 16px;
			max-width: 83.3333333333%;
		}
		img {
			height: 32pt;
			width: 100%;
			padding-bottom: 32px;
			padding-top: 32px;
			text-align: center;
		}
	</style>
</head>
<body class='body'>
	<div class='container'>
		<img src='../../../../../src/assets/logo-blue.svg' alt='IQRF Gateway' />
		<div class='content'>
			{include body}
		</div>
	</div>
</body>
</html>
