<html>
<head>
	<meta charset="utf-8">
	<title>{include title}</title>
	<style>
		body {
			background-color: #ebedef;
			margin-left: auto;
			margin-right: auto;
			padding-left: 12pt;
			padding-right: 12pt;
			width: 100%;
			flex: 0 0 83.3333333333%;
			max-width: 83.3333333333%;
		}
		section {
			padding: 1.5rem !important;
			position: relative;
			display: flex;
			flex-direction: column;
			margin-bottom: 1.5rem;
			word-wrap: break-word;
			background-clip: border-box;
			border: 1px solid;
			border-radius: 0.25rem;
			background-color: #fff;
			border-color: #d8dbe0;
		}
		img {
			height: 32pt;
			width: 100%;
			padding-bottom: 3rem;
			padding-top: 3rem;
		}
	</style>
</head>
<body>
<header>
	<img src='../../../../../src/assets/logo-blue.svg' alt='IQRF Gateway' />
</header>
<section>
	{include body}
</section>
</body>
</html>
