services:
	- App\NetworkModule\Models\ConnectionManager
	- App\NetworkModule\Models\ConnectivityManager
	- App\NetworkModule\Models\InterfaceManager
	- App\NetworkModule\Models\WifiManager
	wireguard.fileManager: App\CoreModule\Models\FileManager('/etc/wireguard')
	wireguard.manager: App\NetworkModule\Models\WireguardManager(@commandManager, @wireguard.fileManager)
