# Local application configuration
app/config/config.local.neon
app/config/database.db
# Composer
vendor/
composer.lock
# NPM
node_modules/
packages/*/node_modules/
package-lock.json
pnpm-lock.yaml
# Debian package
debian/.debhelper/
debian/debhelper-build-stamp
debian/files
debian/iqrf-gateway-webapp/
debian/iqrf-gateway-webapp.substvars
# NetBeans IDE
nbproject/
# PhpStorm IDE
.idea/
# Nette Tester
tests/output/
tests/*/output/
tests/*/*/output/
tests/*/*/*/output/
tests/*/*/*/*/output/
tests/tmp/
coverage.html
coverage.xml
# Vitest
coverage/
junit.xml
packages/*/coverage/
packages/*/junit.xml
# VScode
.vscode/
# Vue.js build
dist/
packages/*/dist/
packages/*/components.d.ts
www/dist/
# Cypress
packages/*/cypress/videos
packages/*/cypress/screenshots
# Documentations
packages/*/docs/
