# Local application configuration
app/config/config.local.neon
app/config/database.db
# Composer
vendor/
composer.lock
# NetBeans IDE
nbproject/
# PhpStorm IDE
.idea/
# Nette Tester
tests/output/
tests/*/output/
tests/*/*/output/
tests/temp/
coverage.xml
