Karel Hanák <karel.hanak@iqrf.org> <karel.hanak@microrisc.com>
Karel Hanák <karel.hanak@iqrf.org> <khgreav@gmail.com>
Karel Hanák <karel.hanak@iqrf.org> <noreply+5-5eb3dbbd4d@weblate.org>

Roman Ondráček <roman.ondracek@iqrf.org> <ondracek.roman@centrum.cz>
Roman Ondráček <roman.ondracek@iqrf.org> <mail@romanondracek.cz>
Roman Ondráček <roman.ondracek@iqrf.org> <roman.ondracek@iqrf.com>

Rostislav Špinar <rostislav.spinar@iqrf.com> <rostislav.spinar@microrisc.com>
Rostislav Špinar <rostislav.spinar@iqrf.com> <rostislav.spinar@iqrf.com>

Petra Šeflová <petra.seflova@iqrf.org>
