# Copyright 2017-2024 IQRF Tech s.r.o.
# Copyright 2019-2024 MICRORISC s.r.o.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
includes:
	- vendor/iqrf/phpstan-config/phpstan.neon

parameters:
	level: 6
	additionalConstructors:
		- Tester\TestCase::setUp
	bootstrapFiles:
		- tests/phpstanBootstrap.php
	paths:
		- app
		- bin
	excludePaths:
		analyse:
			- tests/Unit/InstallModule/Models/SudoManagerTest.php
		analyseAndScan:
			- tests/tmp/*
	reportUnmatchedIgnoredErrors: false
	ignoreErrors:
		- '#Method App\\CoreModule\\Models\\CommandManager::run(Async|)\(\) has parameter \$input with no value type specified in iterable type Traversable.#'
		- '#Method App\\IqrfNetModule\\Models\\WebSocketClient::[a-zA-Z]+\(\) has parameter \$[a-z]+ with no value type specified in iterable type Ratchet\\RFC6455\\Messaging\\MessageInterface\.#'
		- '#Method App\\ServiceModule\\Models\\ServiceManager::[a-zA-Z]+\(\) has (App\\ServiceModule\\Exceptions\\NotImplementedException|App\\ServiceModule\\Exceptions\\UnsupportedInitSystemException) in PHPDoc @throws tag but it.s not thrown\.#'
		-
			message: '#Variable property access on mixed.#'
			path: app/NetworkModule/Entities/Modem.php
		- '#Call to an undefined method Symfony\\Component\\Console\\Helper\\HelperInterface::ask\(\).#'
		-
			message: '#^Negated boolean expression is always false\.$#'
			path: app/Models/Mail/ConfigurationManager.php
			count: 1
		-
			message: '#Left side of \&\& is always (true|false)\.#'
			path: app/Models/Database/Entities/User.php
			count: 1
