includes:
	- vendor/phpstan/phpstan-deprecation-rules/rules.neon
	- vendor/phpstan/phpstan-nette/extension.neon
	- vendor/phpstan/phpstan-nette/rules.neon
	- vendor/phpstan/phpstan-mockery/extension.neon
	- vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
	level: 5
	paths:
		- app
		- bin
		- tests
	ignoreErrors:
		- '#Call to an undefined method Nette\\Application\\UI\\Form::addMultiplier\(\).#'
		- '#Call to an undefined method Nette\\Application\\UI\\ITemplate::setTranslator\(\).#'
		- '#Call to an undefined method Nette\\ComponentModel\\IComponent::addConditionOn\(\).#'
		- '#Call to an undefined method Nette\\ComponentModel\\IComponent::setDefaultValue\(\).#'
		- '#Call to an undefined method Nette\\ComponentModel\\IComponent::setValue\(\).#'
		- '#Call to an undefined method Nette\\Database\\IRow::toArray\(\).#'
		- '#Call to an undefined method Nette\\Forms\\Container::addMultiplier\(\).#'
		- '#Call to an undefined method Nette\\Localization\\ITranslator::createPrefixedTranslator\(\).#'
		- '#Parameter \#1 \$control of method Nette\\Forms\\Controls\\BaseControl::addConditionOn\(\) expects Nette\\Forms\\IControl, Nette\\ComponentModel\\IComponent given.#'
		- '#Parameter \#1 \$control of method Nette\\Forms\\Rules::addConditionOn\(\) expects Nette\\Forms\\IControl, Nette\\ComponentModel\\IComponent given.#'
		- '#PHPDoc tag @throws with type (|[a-zA-Z0-9\\_]+\|)GuzzleHttp\\Exception\\GuzzleException(|\|[a-zA-Z0-9\\_]+) is not subtype of Throwable#'
		- '#Return type \(void\) of method App\\ConsoleModule\\Commands\\[a-zA-Z0-9_]+::execute() should be compatible with return type \(int|null\) of method Symfony\\Component\\Console\\Command\\Command::execute\(\)#'
		- '#Method App\\NetworkModule\\Models\\ConnectionManager::list\(\) should return array<App\\NetworkModule\\Entities\\Connection> but returns array<int, string>.#'
		- '#Method App\\NetworkModule\\Models\\InterfaceManager::list\(\) should return array<App\\NetworkModule\\Entities\\InterfaceStatus> but returns array<int, string>.#'
		-
			message: '#Parameter \#(1|2) \$(message|type) \(string\) of method App\\CoreModule\\Presenters\\(Protected|Sign)Presenter::flashMessage\(\) should be contravariant with parameter \$(message|type) \(mixed\) of method Nette\\Application\\UI\\Control::flashMessage\(\)#'
			path: %currentWorkingDirectory%/app/CoreModule/Traits/TPresenterFlashMessage.php
		-
			message: '#Parameter \#1 \$credentials \(array<string>\) of method App\\CoreModule\\Models\\AppAuthenticator::authenticate\(\) should be contravariant with parameter \$credentials \(array\) of method Nette\\Security\\IAuthenticator::authenticate\(\)#'
			path: %currentWorkingDirectory%/app/CoreModule/Models/AppAuthenticator.php
		-
			message: '#Result of (&&|\|\|) is always true.#'
			path: %currentWorkingDirectory%/app/CoreModule/Models/ZipArchiveManager.php
		-
			message: '#Call to function is_array\(\) with iterable&Nette\\Utils\\ArrayHash will always evaluate to false.#'
			path: %currentWorkingDirectory%/app/CoreModule/Models/ZipArchiveManager.php
		-
			message: '#Strict comparison using !== between int and false will always evaluate to true.#'
			path: %currentWorkingDirectory%/app/CoreModule/Models/ZipArchiveManager.php
		-
			message: '#Call to function is_object\(\) with iterable&Nette\\Utils\\ArrayHash will always evaluate to true.#'
			path: %currentWorkingDirectory%/app/CoreModule/Models/ZipArchiveManager.php
		-
			message: '#Instanceof between Nette\\Utils\\ArrayHash and Nette\\Utils\\ArrayHash will always evaluate to true.#'
			path: %currentWorkingDirectory%/app/CoreModule/Models/ZipArchiveManager.php
		-
			message: '#Call to function is_int\(\) with int will always evaluate to true.#'
			path: %currentWorkingDirectory%/app/CoreModule/Models/ZipArchiveManager.php
		-
			message: '#Foreach overwrites \$unit with its value variable.#'
			path: %currentWorkingDirectory%/app/GatewayModule/Models/InfoManager.php
		-
			message: '#Parameter \#1 \$input of method App\\IqrfNetModule\\Forms\\RfConfigFormFactory::setRfChannelRule\(\) expects Nette\\Forms\\Controls\\TextInput, Nette\\ComponentModel\\IComponent given.#'
			path: %currentWorkingDirectory%/app/IqrfNetModule/Forms/RfConfigFormFactory.php
	fileExtensions:
		- php
		- phpt
