services:
	- App\IqrfNetModule\Forms\BondingFormFactory
	- App\IqrfNetModule\Forms\DiscoveryFormFactory
	- App\IqrfNetModule\Forms\DpaConfigFormFactory
	- App\IqrfNetModule\Forms\OsConfigFormFactory
	- App\IqrfNetModule\Forms\SecurityFormFactory
	sendJsonFormFactory:
		factory: App\IqrfNetModule\Forms\SendJsonFormFactory
		arguments: [@jsonSchemaManagerApi]
	- App\IqrfNetModule\Forms\SendRawFormFactory
	- App\IqrfNetModule\Models\BondingManager
	- App\IqrfNetModule\Models\DevicesManager
	- App\IqrfNetModule\Models\DiscoveryManager
	- App\IqrfNetModule\Models\DpaRawManager
	- App\IqrfNetModule\Models\EnumerationManager
	- App\IqrfNetModule\Models\GwModeManager
	- App\IqrfNetModule\Models\MessageIdManager
	- App\IqrfNetModule\Models\SecurityManager
	- App\IqrfNetModule\Models\TrConfigManager
	- App\IqrfNetModule\Models\WebSocketClient(%daemon.wsServer%)
	- App\IqrfNetModule\Parsers\CoordinatorParser
	- App\IqrfNetModule\Parsers\EnumerationParser
	- App\IqrfNetModule\Parsers\OsParser
	- App\IqrfNetModule\Presenters\SendRawPresenter(%macroPath%)
	- App\IqrfNetModule\Requests\ApiRequest
	dpaRequest:
		factory: App\IqrfNetModule\Requests\DpaRequest
		autowired: self
