services:
	- App\IqrfNetModule\Forms\SendRawFormFactory
	- App\IqrfNetModule\Forms\BondingFormFactory
	- App\IqrfNetModule\Forms\DiscoveryFormFactory
	- App\IqrfNetModule\Forms\RfFormFactory
	- App\IqrfNetModule\Forms\SecurityFormFactory
	- App\IqrfNetModule\Models\BondingManager
	- App\IqrfNetModule\Models\DpaRawManager
	- App\IqrfNetModule\Models\EnumerationManager
	- App\IqrfNetModule\Models\GwModeManager
	- App\IqrfNetModule\Models\IqrfMacroManager(%macroPath%)
	- App\IqrfNetModule\Models\IqrfNetManager
	- App\IqrfNetModule\Models\MessageIdManager
	- App\IqrfNetModule\Models\SecurityManager
	- App\IqrfNetModule\Models\WebSocketClient(%daemon.wsServer%)
	- App\IqrfNetModule\Parsers\CoordinatorParser
	- App\IqrfNetModule\Parsers\EnumerationParser
	- App\IqrfNetModule\Parsers\OsParser
	- App\IqrfNetModule\Requests\ApiRequest
	dpaRequest:
		factory: App\IqrfNetModule\Requests\DpaRequest
		autowired: self
