services:
	- App\IqrfNetModule\Forms\BondingFormFactory
	- App\IqrfNetModule\Forms\ChangeAddressFormFactory
	- App\IqrfNetModule\Forms\DiscoveryFormFactory
	- App\IqrfNetModule\Forms\DpaConfigFormFactory
	- App\IqrfNetModule\Forms\RfConfigFormFactory
	- App\IqrfNetModule\Forms\SecurityFormFactory
	sendJsonFormFactory:
		factory: App\IqrfNetModule\Forms\SendJsonFormFactory
		arguments: [@jsonSchemaManagerApi]
	- App\IqrfNetModule\Forms\SendRawFormFactory
	- App\IqrfNetModule\Forms\StandardBinaryOutputFormFactory
	- App\IqrfNetModule\Forms\StandardLightFormFactory
	- App\IqrfNetModule\Forms\StandardSensorFormFactory
