services:
	- App\IqrfNetModule\Forms\ChangeAddressFormFactory
	- App\IqrfNetModule\Forms\DpaUploadFormFactory
	- App\IqrfNetModule\Forms\OsDpaUploadFormFactory
	- App\IqrfNetModule\Forms\SecurityFormFactory
	- App\IqrfNetModule\Forms\SendJsonFormFactory
	- App\IqrfNetModule\Forms\TrUploadFormFactory
