services:
	apiSchemaManager:
		factory: App\IqrfNetModule\Models\ApiSchemaManager(%daemon.apiSchemaDir%)
		autowired: self
	- App\IqrfNetModule\Models\DpaManager
	- App\IqrfNetModule\Models\EnumerationManager
	- App\IqrfNetModule\Models\IqrfOsManager
	- App\IqrfNetModule\Models\MessageIdManager
	- App\IqrfNetModule\Models\NativeUploadManager
	- App\IqrfNetModule\Models\OsManager
	- App\IqrfNetModule\Models\SecurityManager
	- App\IqrfNetModule\Models\StandardBinaryOutputManager
	- App\IqrfNetModule\Models\StandardDaliManager
	- App\IqrfNetModule\Models\StandardLightManager
	- App\IqrfNetModule\Models\StandardSensorManager
	- App\IqrfNetModule\Models\TrConfigManager
	- App\IqrfNetModule\Models\UploadManager
	- App\IqrfNetModule\Models\WebSocketClient(%daemon.wsServer%)
