services:
	apiSchemaManager:
		factory: App\IqrfNetModule\Models\ApiSchemaManager(%daemon.apiSchemaDir%)
		autowired: self
	- App\IqrfNetModule\Models\DpaManager
	- App\IqrfNetModule\Models\EnumerationManager
	- App\IqrfNetModule\Models\IqrfOsManager
	- App\IqrfNetModule\Models\MessageIdManager
	- App\IqrfNetModule\Models\OsManager
	- App\IqrfNetModule\Models\UploadManager
	- App\IqrfNetModule\Models\UploadUtilManager
	- App\IqrfNetModule\Models\WebSocketClient(%daemon.wsServer%)
