services:
	- App\IqrfNetModule\Models\BondingManager
	- App\IqrfNetModule\Models\DevicesManager
	- App\IqrfNetModule\Models\DiscoveryManager
	- App\IqrfNetModule\Models\DpaRawManager
	- App\IqrfNetModule\Models\EnumerationManager
	- App\IqrfNetModule\Models\GwModeManager
	- App\IqrfNetModule\Models\MessageIdManager
	- App\IqrfNetModule\Models\SecurityManager
	- App\IqrfNetModule\Models\StandardBinaryOutputManager
	- App\IqrfNetModule\Models\StandardLightManager
	- App\IqrfNetModule\Models\StandardSensorManager
	- App\IqrfNetModule\Models\TrConfigManager
	- App\IqrfNetModule\Models\UploadManager
	- App\IqrfNetModule\Models\WebSocketClient(%daemon.wsServer%)
