services:
	authenticator: App\CoreModule\Models\AppAuthenticator
	- App\CoreModule\Models\CertificateManager
	commandManager: App\CoreModule\Models\CommandManager(%sudo%)
	featureManager: App\CoreModule\Models\FeatureManager(%confDir%/features.neon)
	- App\CoreModule\Models\FileManager(%daemon.configDir%)
	- App\CoreModule\Models\JsonFileManager(%daemon.configDir%)
	- App\CoreModule\Models\VersionManager
