extensions:
	api: Apitte\Core\DI\ApiExtension

api:
	debug: %debugMode%
	plugins:
		Apitte\Core\DI\Plugin\CoreDecoratorPlugin:
		Apitte\Debug\DI\DebugPlugin:
			debug:
				panel: %debugMode%
				negotiation: %debugMode%
		Apitte\Middlewares\DI\MiddlewaresPlugin:
		Apitte\OpenApi\DI\OpenApiPlugin:
			files:
				- %appDir%/../api/common.neon
			swaggerUi:
				url: null # default url
				expansion: list # list|full|none
				filter: true # true|false|string
				panel: true
