parameters:
	# init deamon used in out system (e.g. systemd)
	initDaemon: 'systemd'
	sudo: true
	# Daemon configuration
	daemon:
		# Path to directory with IQRF Gateway Daemon's JSON API schemas
		apiSchemaDir: '/usr/share/iqrf-gateway-daemon/apiSchemas/'
		# Path to directory with certificates for IQRF Gateway Daemon
		certDir: '/etc/iqrf-gateway-daemon/certs/'
		# Path to directory with IQRF Gateway Daemon's configuration files
		configDir: '/etc/iqrf-gateway-daemon/'
		# Path to directory with IQRF Gateway Daemon's logs
		logDir: '/var/log/iqrf-gateway-daemon/'
		# Path to directory with IQRF Gateway Daemon's JSON schemas
		schemaDir: '/etc/iqrf-gateway-daemon/cfgSchemas/'
		# URL to IQRF Gateway Daemon's WebSocket server
		wsServer: 'ws://localhost:1338'
	# Sentry configuration
	sentry:
		dsn: 'https://7cd0252aae6d491b98514b9486cd2771@sentry.iqrf.org/2'

application:
	errorPresenter: Core:Error
	mapping:
		*: App\*Module\Presenters\*Presenter

extensions:
	formRenderer: Contributte\Forms\DI\ApplicationFormFactoryExtension
	iqrfRepository: Iqrf\Repository\DI\IqrfRepositoryExtension
	iqrfMacros: Iqrf\IdeMacros\DI\IqrfMacrosExtension
	- Contributte\FormMultiplier\DI\MultiplierExtension
	middleware: Contributte\Middlewares\DI\NetteMiddlewaresExtension

iqrfMacros:
	# path to IQRF IDE macros
	path: '%appDir%/../iqrf/DPA-macros_190301_webapp.iqrfmcr'

middleware:
	debug: %debugMode%

session:
	autoStart: true
	expiration: 14 days
	cookieSecure: false
	savePath: %tempDir%/sessions

services:
	router: App\CoreModule\Router\RouterFactory::createRouter

http:
	cookieSecure: auto
	csp:
		connect-src: [
			self,
			'ws:',
			'wss:',
			https://apidocs.iqrf.org,
			https://sentry.iqrf.org
		]
		default-src: self
		frame-ancestors: none
		form-action: self
		font-src: [
			self,
			'data:'
		]
		img-src: [
			self,
			'data:',
			https://repository.iqrfalliance.org/
		]
		report-uri: 'https://sentry.iqrf.org/api/2/security/?sentry_key=7cd0252aae6d491b98514b9486cd2771'
		script-src: [
			# for browsers that support CSP3
			nonce
			# for browsers that support CSP2
			self, unsafe-eval
		]
		style-src: [
			# for browsers that support CSP3
			#nonce
			# for browsers that support CSP2
			self, unsafe-inline
		]

tracy:
	bar:
		- App\CoreModule\Tracy\CommandPanel(@commandStack)
	email: 'roman.ondracek@iqrf.com'
	strictMode: true
	maxDepth: 10

includes:
	- api.neon
	- console.neon
	- doctrine.neon
	- guzzle.neon
	- monolog.neon
	- translation.neon
