parameters:
	# directory with iqrf-daemon's configuration files
	configDir: '/etc/iqrf-daemon'
	# init deamon used in out system (e.g. systemd)
	initDaemon: 'systemd'
	sudo: true
	# path to IQRF IDE macros
	macroPath: '../iqrf/DPA-macros_170601.iqrfmcr'

application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter

extensions:
	gettextTranslator: GettextTranslator\DI\Extension
	extendedFormMacros: Instante\ExtendedFormMacros\DI\ExtendedFormMacrosExtension

gettextTranslator:
	# default language (en or cs)
	lang: en
	files:
		- %appDir%/locale
	# optional with defaults
	layout: horizontal # or: vertical
	height: 450

session:
	expiration: 14 days

services:
	- App\ConfigModule\Forms\ConfigBaseServiceFormFactory
	- App\ConfigModule\Forms\ConfigComponentsFormFactory
	- App\ConfigModule\Forms\ConfigIqrfAppFormFactory
	- App\ConfigModule\Forms\ConfigIqrfFormFactory
	- App\ConfigModule\Forms\ConfigMainFormFactory
	- App\ConfigModule\Forms\ConfigMqFormFactory
	- App\ConfigModule\Forms\ConfigMqttFormFactory
	- App\ConfigModule\Forms\ConfigSchedulerFormFactory
	- App\ConfigModule\Forms\ConfigTracerFormFactory
	- App\ConfigModule\Forms\ConfigUdpFormFactory
	- App\ConfigModule\Model\BaseServiceManager
	- App\ConfigModule\Model\ComponentManager
	- App\ConfigModule\Model\GenericManager
	- App\ConfigModule\Model\IqrfManager
	- App\ConfigModule\Model\InstanceManager
	- App\ConfigModule\Model\MainManager
	- App\ConfigModule\Model\SchedulerManager
	- App\Forms\FormFactory
	- App\Forms\SignInFormFactory
	- App\IqrfAppModule\Forms\IqrfAppSendRawFormFactory
	- App\IqrfAppModule\Model\CoordinatorParser
	- App\IqrfAppModule\Model\IqrfAppManager
	- App\IqrfAppModule\Model\IqrfMacroManager(%macroPath%)
	- App\IqrfAppModule\Model\OsParser
	- App\Model\CommandManager(%sudo%)
	- App\Model\GwInfoManager
	- App\Model\JsonFileManager(%configDir%)
	- App\ServiceModule\Model\ServiceManager(%initDaemon%)
	router: App\Router\RouterFactory::createRouter
	formFactory: Instante\Bootstrap3Renderer\BootstrapFormFactory

http:
	csp:
		frame-ancestors: none
		form-action: self
		script-src: [
			# for browsers that support CSP3
			nonce
			# for browsers that support CSP2
			self, 'code.jquery.com', 'maxcdn.bootstrapcdn.com', 'nette.github.io'
		]
		style-src: [
			# for browsers that support CSP3
			#nonce
			# for browsers that support CSP2
			'unsafe-inline', self, 'maxcdn.bootstrapcdn.com'
		]

security:
	users:
		admin: iqrf  # user 'admin', password 'iqrf'
