parameters:
	# directory with iqrf-daemon's configuration files
	configDir: '/etc/iqrf-daemon'
	# init deamon used in out system (e.g. systemd)
	initDaemon: 'systemd'
	sudo: true

application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter

extensions:
	gettextTranslator: GettextTranslator\DI\Extension

gettextTranslator:
	# default language (en or cs)
	lang: en
	files:
		- %appDir%/locale
	# optional with defaults
	layout: horizontal # or: vertical
	height: 450

session:
	expiration: 14 days

services:
	- App\Model\CommandManager(%sudo%)
	- App\Model\ConfigManager(%configDir%)
	- App\Model\ConfigParser
	- App\Model\GwInfoManager
	- App\Model\IqrfAppManager
	- App\Model\ServiceManager(%initDaemon%)
	- App\Forms\FormFactory
	- App\Forms\ConfigComponentsFormFactory
	- App\Forms\ConfigIqrfAppFormFactory
	- App\Forms\ConfigIqrfFormFactory
	- App\Forms\ConfigMqFormFactory
	- App\Forms\ConfigMqttFormFactory
	- App\Forms\ConfigSchedulerFormFactory
	- App\Forms\ConfigTracerFormFactory
	- App\Forms\ConfigUdpFormFactory
	- App\Forms\IqrfAppSendRawFormFactory
	- App\Forms\SignInFormFactory
	router: App\RouterFactory::createRouter

security:
	users:
		admin: iqrf  # user 'admin', password 'iqrf'
