extensions:
	console: Contributte\Console\DI\ConsoleExtension(%consoleMode%)
	console.extra: Contributte\Console\Extra\DI\ConsoleBridgesExtension

console:
	name: IQRF Gateway Webapp manager
	version: 2.3.0-rc3
	catchExceptions: true
	autoExit: true
	url: http://localhost/
	lazy: true
	#helperSet: @customHelperSet

console.extra:
	advancedCache: false
	cache:
		purge:
			- %tempDir%/cache
	caching: false
	di: false
	latte: false
	router: false
	security: false
	utils: false
