# Copyright 2017-2025 IQRF Tech s.r.o.
# Copyright 2019-2025 MICRORISC s.r.o.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

extensions:
	nettrine.dbal: Nettrine\DBAL\DI\DbalExtension
	nettrine.fixtures: Nettrine\Fixtures\DI\FixturesExtension
	nettrine.orm: Nettrine\ORM\DI\OrmExtension
	nettrine.migrations: Nettrine\Migrations\DI\MigrationsExtension

nettrine.dbal:
	connections:
		default:
			driver: pdo_sqlite
			path: %paths.iqrfGatewayWebapp.database%
	debug:
		panel: %debugMode%
	types:
		ip: Darsyn\IP\Doctrine\MultiType
		uuid: Ramsey\Uuid\Doctrine\UuidType

nettrine.fixtures:
	paths:
		- %appDir%/../db/Fixtures

nettrine.orm:
	managers:
		default:
			connection: default
			entityManagerDecoratorClass: App\Models\Database\EntityManager
			autoGenerateProxyClasses: 4
			mapping:
				App:
					type: attributes
					dirs: [%appDir%/Models/Database/Entities]
					namespace: App\Models\Database\Entities

nettrine.migrations:
	table: doctrine_migrations
	column: version
	directories:
		Database\Migrations: %appDir%/../db/Migrations
	versionsOrganization: null
