# Copyright 2017-2024 IQRF Tech s.r.o.
# Copyright 2019-2024 MICRORISC s.r.o.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

extensions:
	nettrine.annotations: Nettrine\Annotations\DI\AnnotationsExtension
	nettrine.cache: Nettrine\Cache\DI\CacheExtension
	nettrine.dbal: Nettrine\DBAL\DI\DbalExtension
	nettrine.dbal.console: Nettrine\DBAL\DI\DbalConsoleExtension
	nettrine.fixtures: Nettrine\Fixtures\DI\FixturesExtension
	nettrine.orm: Nettrine\ORM\DI\OrmExtension
	nettrine.orm.cache: Nettrine\ORM\DI\OrmCacheExtension
	nettrine.orm.console: Nettrine\ORM\DI\OrmConsoleExtension
	nettrine.orm.attributes: Nettrine\ORM\DI\OrmAttributesExtension
	nettrine.migrations: Nettrine\Migrations\DI\MigrationsExtension

nettrine.annotations:
	debug: %debugMode%

nettrine.dbal:
	connection:
		driver: pdo_sqlite
		path: %paths.iqrfGatewayWebapp.database%
		types:
			ip: Darsyn\IP\Doctrine\MultiType
			uuid: Ramsey\Uuid\Doctrine\UuidType
			uuid_binary_ordered_time:
				class: Ramsey\Uuid\Doctrine\UuidBinaryOrderedTimeType
				commented: false
	debug:
		panel: %debugMode%

nettrine.fixtures:
	paths:
		- %appDir%/../db/Fixtures

nettrine.orm:
	entityManagerDecoratorClass: App\Models\Database\EntityManager

nettrine.orm.attributes:
	mapping:
		App\Models\Database\Entities: %appDir%/Models/Database/Entities

nettrine.migrations:
	table: doctrine_migrations
	column: version
	directories:
		Database\Migrations: %appDir%/../db/Migrations
	versionsOrganization: null
