extensions:
	nettrine.annotations: Nettrine\Annotations\DI\AnnotationsExtension
	nettrine.cache: Nettrine\Cache\DI\CacheExtension
	nettrine.dbal: Nettrine\DBAL\DI\DbalExtension
	nettrine.dbal.console: Nettrine\DBAL\DI\DbalConsoleExtension
	nettrine.orm: Nettrine\ORM\DI\OrmExtension
	nettrine.orm.cache: Nettrine\ORM\DI\OrmCacheExtension
	nettrine.orm.console: Nettrine\ORM\DI\OrmConsoleExtension
	nettrine.orm.annotations: Nettrine\ORM\DI\OrmAnnotationsExtension
	nettrine.migrations: Nettrine\Migrations\DI\MigrationsExtension

nettrine.annotations:
	debug: %debugMode%

nettrine.dbal:
	connection:
		driver: pdo_sqlite
		path: %appDir%/config/database.db
	debug:
		panel: %debugMode%

nettrine.orm:
	entityManagerDecoratorClass: App\Models\Database\EntityManager

nettrine.orm.annotations:
	mapping:
		App\Models\Database\Entities: %appDir%/Models/Database/Entities


nettrine.migrations:
	table: doctrine_migrations
	column: version
	directory: %appDir%/../db/Migrations
	namespace: Database\Migrations
	versionsOrganization: null
