parameters:
	features:
		# IQRF TR native upload
		trUpload: false
		# Node-RED
		node-red: false
		# PIXLA mamagement system
		pixla: false
		# Network manager
		networkManager: true
		# Supervisord dashboard
		supervisord: false
		# System updater
		updater: false
