# Copyright 2017-2024 IQRF Tech s.r.o.
# Copyright 2019-2024 MICRORISC s.r.o.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# apcupsd service
apcupsd:
	enabled: false
# Show documentation
docs:
	enabled: true
	url: https://docs.iqrf.org/iqrf-gateway/
# Default gateway user password change
gatewayPass:
	enabled: false
	user: root
# Grafana dashboard
grafana:
	enabled: false
	url: /grafana/
# IQAROS application
iqaros:
	enabled: false
# IQRF Gateway Controller configuration
iqrfGatewayController:
	enabled: false
# IQRF Gateway InfluxDB Bridge configuration
iqrfGatewayInfluxdbBridge:
	enabled: false
# IQRF Gateway Translator configuration
iqrfGatewayTranslator:
	enabled: false
# IQRF Repository Extension configuration
iqrfRepository:
	enabled: false
# Systemd journald configuration
journal:
	enabled: false
	path: /etc/systemd/journald.conf
# Mender client configuration
mender:
	enabled: false
# Monitoring service
monit:
	enabled: false
# Network manager
networkManager:
	enabled: false
# Node-RED
nodeRed:
	enabled: false
	url: /node-red/
# Remount endpoints
remount:
	enabled: false
# SSH daemon manager
ssh:
	enabled: false
# Supervisord dashboard
supervisord:
	enabled: false
	url: /supervisord/
# IQRF TR native upload
trUpload:
	enabled: false
# System updater
updater:
	enabled: false
# Unattended upgrades
unattendedUpgrades:
	enabled: false
# IQRF Gateway Webapp version checker
versionChecker:
	enabled: false
