# Show documentation
docs:
	enabled: true
	url: https://docs.iqrf.org/iqrf-gateway/
grafana:
	enabled: false
	url: /grafana/
# IQRF Gateway Controller configuration
iqrfGatewayController:
	enabled: false
# IQRF Gateway Translator configuration
iqrfGatewayTranslator:
	enabled: false
# Mender client configuration
mender:
	enabled: false
# Network manager
networkManager:
	enabled: false
# Node-RED
nodeRed:
	enabled: false
	url: /node-red/
# PIXLA mamagement system
pixla:
	enabled: false
# SSH daemon manager
ssh:
	enabled: false
# Supervisord dashboard
supervisord:
	enabled: false
	url: /supervisord/
# System updater
updater:
	enabled: false
# IQRF TR native upload
trUpload:
	enabled: false
# Unattended upgrades
unattendedUpgrades:
	enabled: false
# IQRF Gateway Webapp version checker
versionChecker:
	enabled: false
