extensions:
	monolog: Contributte\Monolog\DI\MonologExtension

monolog:
	hook:
		fromTracy: true
		toTracy: true
	channel:
		default:
			handlers:
				- Monolog\Handler\RavenHandler(Raven_Client(%sentry.dsn%))
			processors:
				- Monolog\Processor\GitProcessor()
				- Monolog\Processor\MemoryPeakUsageProcessor()
				- Monolog\Processor\WebProcessor()
