extensions:
	monolog: Contributte\Monolog\DI\MonologExtension

services:
	sentryClientBuilder: Sentry\ClientBuilder::create(%sentry%)
	sentryClient:
		class: Sentry\ClientInterface
		factory: @sentryClientBuilder::getClient()
	sentryHub: Sentry\State\Hub
monolog:
	hook:
		fromTracy: true
		toTracy: true
	channel:
		default:
			handlers:
				- Sentry\Monolog\Handler()
			processors:
				- Monolog\Processor\MemoryPeakUsageProcessor()
				- Monolog\Processor\WebProcessor()
