rabbitmq:
	connections:
		default:
			user: guest
			password: guest
			host: localhost
			port: 5672
			lazy: false
	queues:
		menderInvokeQueue:
			connection: default
			autoCreate: true
		menderReportQueue:
			connection: default
			autoCreate: true
	producers:
		menderInvokeProducer:
			queue: menderInvokeQueue
			contentType: text/plain
			deliveryMode: 1
		menderReportProducer:
			queue: menderReportQueue
			contentType: application/json
			deliveryMode: 1
	consumers:
		menderInvoker:
			queue: menderInvokeQueue
			callback: [@App\MaintenanceModule\Models\MenderInvoker, consume]
			qos:
				prefetchSize: 0
				prefetchCount: 1
		menderReporter:
			queue: menderReportQueue
			callback: [@App\MaintenanceModule\Models\MenderReporter, consume]
			qos:
				prefetchSize: 0
				prefetchCount: 1
