<html>
<head>
	<meta charset="utf-8">
	<title>{_mail.passwordRecovery.title}</title>
</head>
<body>
<p>
	{_mail.passwordRecovery.greeting, [username => $user->getUserName()]|breakLines}
</p>

<p>
	{_mail.passwordRecovery.body, [hostname => $hostname]|breakLines}<br>
	<a href="{$url}">{$url}</a>
</p>

<p>
	{_mail.passwordRecovery.footer, [hostname => $hostname]|breakLines}
</p>
</body>
</html>
