[Unit]
Description=IQRF Gateway Webapp consumer for MQ %I
After=network.target

[Service]
Type=simple
User=www-data
ExecStart=/bin/bash -c '/usr/sbin/iqrf-gateway-webapp-manager rabbitmq:consumer %i'
RestartSec=5
Restart=always

[Install]
WantedBy=multi-user.target