services:
	- App\GatewayModule\Models\DiagnosticsManager(%daemon.configDir%, %daemon.logDir%)
	- App\GatewayModule\Models\InfoManager
	- App\GatewayModule\Models\LogManager(%daemon.logDir%)
	- App\GatewayModule\Models\UpdaterManager(%sudo%)
