services:
	- App\GatewayModule\Models\DiagnosticsManager(%daemon.configDir%, %daemon.logDir%)
	- App\GatewayModule\Models\InfoManager
	- App\GatewayModule\Models\LogManager(%daemon.logDir%)
	- App\GatewayModule\Models\NativeUploadManager
	- App\GatewayModule\Models\NetworkManager
	- App\GatewayModule\Models\PixlaManager
	- App\GatewayModule\Models\PowerManager
	- App\GatewayModule\Models\UpdaterManager
	- App\GatewayModule\Models\VersionManager
