# Copyright 2017-2021 IQRF Tech s.r.o.
# Copyright 2019-2021 MICRORISC s.r.o.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

services:
	- App\GatewayModule\Models\Backup\RestoreLogger
	controllerBackup: App\GatewayModule\Models\Backup\ControllerBackup(%controller.configDir%)
	daemonBackup: App\GatewayModule\Models\Backup\DaemonBackup
	gatewayFileBackup: App\GatewayModule\Models\Backup\GatewayFileBackup
	hostBackup: App\GatewayModule\Models\Backup\HostBackup
	journalBackup: App\GatewayModule\Models\Backup\JournalBackup
	menderBackup: App\GatewayModule\Models\Backup\MenderBackup
	monitBackup: App\GatewayModule\Models\Backup\MonitBackup
	networkManagerBackup: App\GatewayModule\Models\Backup\NetworkManagerBackup
	timeBackup: App\GatewayModule\Models\Backup\TimeBackup
	timesyncdBackup: App\GatewayModule\Models\Backup\TimesyncdBackup
	translatorBackup: App\GatewayModule\Models\Backup\TranslatorBackup(%translator.configDir%)
	uploaderBackup: App\GatewayModule\Models\Backup\UploaderBackup(%uploader.configDir%)
	webappBackup: App\GatewayModule\Models\Backup\WebappBackup(%confDir%)
	- App\GatewayModule\Models\BackupManager([
		@controllerBackup,
		@daemonBackup,
		@hostBackup,
		@journalBackup,
		@menderBackup,
		@monitBackup,
		@networkManagerBackup,
		@timeBackup,
		@timesyncdBackup,
		@translatorBackup,
		@uploaderBackup,
		@webappBackup,
		@gatewayFileBackup
	])
	certificateFileManager:
		factory: App\CoreModule\Models\PrivilegedFileManager(%daemon.configDir%/certs/core)
		autowired: false
	certificateManager: App\GatewayModule\Models\CertificateManager(@certificateFileManager)
	- App\GatewayModule\Models\DaemonDirectories(%daemon.configDir%, %daemon.logDir%)
	- App\GatewayModule\Models\DiagnosticsManager
	etc.fileManager:
		factory: App\CoreModule\Models\PrivilegedFileManager('/etc/')
		autowired: false
	- App\GatewayModule\Models\HostnameManager(@commandManager, @etc.fileManager)
	- App\GatewayModule\Models\InfoManager
	- App\GatewayModule\Models\LogManager(%logDir%, %daemon.logDir%)
	- App\GatewayModule\Models\NetworkManager
	- App\GatewayModule\Models\PasswordManager
	- App\GatewayModule\Models\PowerManager
	- App\GatewayModule\Models\SshManager
	- App\GatewayModule\Models\SystemdJournalManager
	- App\GatewayModule\Models\TimeManager(@commandManager, %timesyncd.path%)
	- App\GatewayModule\Models\UpdaterManager
	etc.jsonFileManager:
		factory: App\CoreModule\Models\JsonFileManager('/etc/')
		autowired: false
	- App\GatewayModule\Models\Utils\GatewayInfoUtil('/etc/iqrf-gateway.json')
	- App\GatewayModule\Models\VersionManager
