# Copyright 2017-2024 IQRF Tech s.r.o.
# Copyright 2019-2024 MICRORISC s.r.o.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

services:
	- App\GatewayModule\Models\Backup\RestoreLogger
	apcupsdBackup: App\GatewayModule\Models\Backup\ApcupsdBackup
	cloudProvBackup.fileManager:
		factory: App\CoreModule\Models\PrivilegedFileManager(%paths.iqrfCloudProvisioning.configDir%)
		autowired: false
	cloudProvBackup: App\GatewayModule\Models\Backup\CloudProvisioningBackup(@commandExecutor.commandExecutor, @cloudProvBackup.fileManager)
	controllerBackup: App\GatewayModule\Models\Backup\ControllerBackup(@controller.fileManager)
	daemonBackup: App\GatewayModule\Models\Backup\DaemonBackup
	gatewayFileBackup.fileManager:
		factory: App\CoreModule\Models\PrivilegedFileManager(%paths.iqrfGatewayDaemon.configDir%)
		autowired: false
	gatewayFileBackup: App\GatewayModule\Models\Backup\GatewayFileBackup(@gatewayFileBackup.fileManager)
	hostBackup: App\GatewayModule\Models\Backup\HostBackup
	journalBackup: App\GatewayModule\Models\Backup\JournalBackup
	menderBackup: App\GatewayModule\Models\Backup\MenderBackup(@mender.fileManager)
	monitBackup: App\GatewayModule\Models\Backup\MonitBackup(@monit.fileManager)
	networkManager.fileManager:
		factory: App\CoreModule\Models\PrivilegedFileManager(%paths.networkManager.configDir%)
		autowired: false
	networkManagerBackup: App\GatewayModule\Models\Backup\NetworkManagerBackup(@networkManager.fileManager)
	sshBackup: App\GatewayModule\Models\Backup\SshBackup
	timeBackup: App\GatewayModule\Models\Backup\TimeBackup
	timesyncdBackup: App\GatewayModule\Models\Backup\TimesyncdBackup(@commandExecutor.commandExecutor, %paths.timesyncd.config%)
	translatorBackup: App\GatewayModule\Models\Backup\TranslatorBackup(@translator.fileManager)
	uploader.fileManager:
		factory: App\CoreModule\Models\FileManager(%paths.iqrfGatewayUploader.configDir%)
		autowired: false
	uploaderBackup: App\GatewayModule\Models\Backup\UploaderBackup(@uploader.fileManager)
	webappBackup: App\GatewayModule\Models\Backup\WebappBackup(%paths.iqrfGatewayWebapp%)
	- App\GatewayModule\Models\BackupManager([
		@apcupsdBackup,
		@cloudProvBackup,
		@controllerBackup,
		@daemonBackup,
		@hostBackup,
		@journalBackup,
		@menderBackup,
		@monitBackup,
		@networkManagerBackup,
		@sshBackup,
		@timeBackup,
		@timesyncdBackup,
		@translatorBackup,
		@uploaderBackup,
		@webappBackup,
		@gatewayFileBackup
	])
	certificateFileManager:
		factory: App\CoreModule\Models\PrivilegedFileManager(%paths.iqrfGatewayDaemon.certDir%/core)
		autowired: false
	certificateManager: App\GatewayModule\Models\CertificateManager(@certificateFileManager)
	- App\GatewayModule\Models\DaemonDirectories(%paths.iqrfGatewayDaemon.configDir%, %paths.iqrfGatewayDaemon.logDir%)
	- App\GatewayModule\Models\DiagnosticsManager
	etc.fileManager:
		factory: App\CoreModule\Models\PrivilegedFileManager('/etc/')
		autowired: false
	- App\GatewayModule\Models\HostnameManager(@commandExecutor.commandExecutor, @etc.fileManager)
	- App\GatewayModule\Models\InfoManager
	- App\GatewayModule\Models\JournalConfigManager
	- App\GatewayModule\Models\JournalReaderManager
	- App\GatewayModule\Models\LogManager(%logDir%, %paths.iqrfGatewayDaemon.logDir%)
	- App\GatewayModule\Models\NetworkManager
	- App\GatewayModule\Models\PasswordManager
	- App\GatewayModule\Models\PowerManager
	- App\GatewayModule\Models\SshManager
	- App\GatewayModule\Models\TimeManager(@commandExecutor.commandExecutor, %paths.timesyncd.config%)
	- App\GatewayModule\Models\TuptimeManager
	- App\GatewayModule\Models\UpdaterManager
	- App\GatewayModule\Models\Utils\GatewayInfoUtil('/etc/iqrf-gateway.json')
	- App\GatewayModule\Models\VersionManager
