title: Clouds
description: Add a connection into cloud services.

amazonAws:
	title: Amazon AWS IoT

hexio:
	title: Hexio IoT Platform

ibmCloud:
	title: IBM Cloud

intelimentsInteliGlue:
	title: Inteliments InteliGlue

msAzure:
	title: Microsoft Azure IoT hub

pixla:
	title: PIXLA device management
	description: Manages PIXLA client service.
	dashboard: Visit dashboard
	disable: Disable service
	enable: Enable service
	status: Service status
	statuses:
		enabled: Enabled
		disabled: Disabled
		missing: Missing
	form:
		token: Set new PIXLA platform token
		save: Save
		missingParam: Please enter PIXLA platform token.
		editSuccess: New PIXLA token has been successfully saved.
		editFailure: New PIXLA token has not been saved.
	token: Token
	messages:
		disabled: PIXLA manager is disabled.
		disable: PIXLA client service has been disabled.
		enable: PIXLA client service has been enabled.

guides:
	pdf: PDF guide
	video: Video guide
