title: Clouds
description: Control cloud services.

messages:
	downloadFailure: The webapp has not been able to download the root CA certificate. Probably the gateway has not been connected into the Internet.
	success: The new connection to the cloud service has been created successfully.

amazonAws:
	title: Amazon AWS IoT
	description: Add a new MQTT connection into Amazon AWS IoT.
	form:
		title: Add a new MQTT connection into Amazon AWS IoT
		endpoint: Endpoint
		certificate: Certificate
		pkey: Private key
		save: Save
		save_restart: Save and restart
	messages:
		mismatchedCrtAndKey: The private key does not correspond to the certificate.

ibmCloud:
	title: IBM Cloud
	description: Add a new MQTT connection into IBM Cloud.
	form:
		title: Add a new MQTT connection into IBM Cloud
		organizationId: Organization ID
		deviceType: Device Type
		deviceId: Device ID
		token: Authentication Token
		eventId: Command and event ID
		save: Save
		save_restart: Save and restart

intelimentsInteliGlue:
	title: Inteliments InteliGlue
	description: Add a new MQTT connection into Inteliments InteliGlue.
	form:
		title: Add a new MQTT connection into Inteliments InteliGlue
		rootTopic: Root Topic
		assignedPort: Assigned Port
		clientId: Client ID
		password: Password
		save: Save
		save_restart: Save and restart

msAzure:
	title: Microsoft Azure IoT hub
	description: Add a new MQTT connection into Microsoft Azure IoT Hub.
	form:
		title: Add a new MQTT connection into Azure IoT hub
		connectionString: IoT Hub Connection String for Device
		save: Save
		save_restart: Save and restart
	messages:
		invalidConnectionString: Invalid MS Azure IoT Hub connection string for device.

guides:
	pdf: PDF guide
	video: Video guide
