title: Configuration
description: Edit configuration.

components:
	title: Components
	description: Manage components.
	form:
		title: Edit component
		name: Name
		libraryPath: Library path
		libraryName: Library name
		enabled: Enabled
		startlevel: Start level
		Save: Save
	Edit: Edit
	Remove: Remove

iqrf:
	title: IQRF interface
	description: IQRF interface settings.

iqrfCdc:
	title: IQRF CDC
	form:
		instance: Name of instance
		IqrfInterface: IQRF CDC interface
		messages:
			instance: Please enter name of IQRF CDC instance.
			IqrfInterface: Please enter IQRF CDC interface.
		Save: Save
	mapping:
		title: Available USB CDC mappings
		interfaces: Interfaces

iqrfDpa:
	title: IQRF DPA interface
	form:
		instance: Name of instance
		DpaHandlerTimeout: DPA Handler timeout
		CommunicationMode: Communication mode
		CommunicationModes:
			LP: LP
			STD: STD
		messages:
			instance: Please enter name of IQRF DPA instance.
			DpaHandlerTimeout: Please enter default DPA Handler timeout.
			DpaHandlerTimeout-rule: DPA Handler timeout must be bigger than 0.
		Save: Save
	availableInterfaces: Available interfaces
	interfaces:
		usb: USB CDC
		spi: SPI

iqrfIde4:
	title: IQRF IDE4 Counterpart
	form:
		instance: Name of instance
		requiredInterface:
			name: Name of required interface
			instance: Name of required interface instance
		messages:
			instance: Please enter name of IQRF IDE4 Counterpart instance.
			requiredInterface:
				name: Please enter name of required interface.
				instance: Please enter name of required interface instance.
		Save: Save

iqrfSpi:
	title: IQRF SPI
	form:
		instance: Name of instance
		IqrfInterface: IQRF SPI interface
		enableGpioPin: Enable GPIO pin
		spiCe0GpioPin: SPI CE0 GPIO pin
		spiMisoGpioPin: SPI MISO GPIO pin
		spiMosiGpioPin: SPI MOSI GPIO pin
		spiClkGpioPin: SPI CLK GPIO pin
		messages:
			instance: Please enter name of IQRF SPI instance.
			IqrfInterface: Please enter IQRF SPI interface.
		Save: Save
	mapping:
		title: Available SPI mappings
		boards: Boards
		interfaces: Interfaces

js-cache:
	title: JS cache
	description: JS cache for drivers.
	form:
		instance: Name of instance
		urlRepo: IQRF Repository URL
		checkPeriodSec: Check period in seconds
		messages:
			instance: Please enter name of IQRF SPI instance.
			urlRepo: Please enter IQRF Repository URL.
		Save: Save

json:
	title: JSON
	description: JSON

json-dpa-api-raw:
	title: JSON DPA API Raw
	form:
		instance: Name of instance
		asyncDpaMessage: Async DPA message
		messages:
			instance: Please enter name of JSON Splitter instance.
		Save: Save

json-splitter:
	title: JSON Splitter
	form:
		instance: Name of instance
		validateJsonResponse: Validate JSON response
		messages:
			instance: Please enter name of JSON Splitter instance.
		Save: Save
main:
	title: Main configuration
	description: Main configuration of IQRF Daemon.
	form:
		applicationName: Application Name
		resourceDir: Resource directory
		dataDir: Data directory
		cacheDir: Cache directory
		userDir: User directory
		configurationDir: Configuration directory
		deploymentDir: Deployment directory
		Save: Save

migration:
	title: Configuration migration
	description: "Migration of IQRF Gateway Daemon's configuration"
	export: Export configuration
	import: Import configuration
	configuration: "IQRF Gateway Daemon's configuration to import"
	messages:
		configuration: "Please select a ZIP archive with IQRF Gateway Daemon's configuration to import."
		importedConfig: "IQRF Gateway Daemon's configuration has been imported."
	errors:
		invalidConfig: The ZIP archive contains invalid configuration.
		invalidFormat: Uploaded invalid file format.
		readConfig: Cannot read zip archive with a configuration.

mq:
	title: MQ interface
	description: MQ interface settings.
	form:
		title: Edit MQ interface
		instance: Name of instance
		LocalMqName: Local MQ name
		RemoteMqName: Remote MQ name
		acceptAsyncMsg: Accept Async messages
		messages:
			instance: Please enter name of MQ instance.
			LocalMqName: Please enter local MQ name.
			RemoteMqName: Please enter remote MQ name.
		Save: Save
	Edit: Edit
	Remove: Remove

mqtt:
	title: MQTT interface
	description: MQTT interface settings.
	form:
		title: Edit MQTT interface
		instance: Name of instance
		BrokerAddr: Broker address
		ClientId: Client ID
		Persistence: Persistence
		QoS: QoS
		QoSes:
			QoS0: QoS 0 - At most once
			QoS1: QoS 1 - At least once
			QoS2: QoS 2 - Exactly once
		TopicRequest: Topic for requests
		TopicResponse: Topic for responses
		User: User
		Password: Password
		EnabledSSL: Enabled TLS
		KeepAliveInterval: Keep alive interval
		ConnectTimeout: Connection timeout
		MinReconnect: Minimal count of reconnects
		MaxReconnect: Maximal count of reconnects
		TrustStore: CA certificate
		KeyStore: Certificate
		PrivateKey: Private key
		PrivateKeyPassword: Private key password
		EnabledCipherSuites: Enabled cipher suites
		EnableServerCertAuth: Enable server certificate authentication
		acceptAsyncMsg: Accept Async messages
		messages:
			instance: Please enter name of MQTT instance.
			BrokerAddr: Please enter address of MQTT broker.
			ClientId: Please enter client ID.
			TopicRequest: Please enter topic for requests.
			TopicResponse: Please enter topic for responses.
		Save: Save
	Edit: Edit
	Remove: Remove

ota-upload:
	title: IQRF OTA upload service
	form:
		instance: Name of instance
		uploadPath: Path to a directory with files to upload
		messages:
			instance: Please enter name of OTA upload service instance.
			uploadPath: Please enter path to a directory with files to upload.
		Save: Save

scheduler:
	title: Scheduler
	description: Scheduler settings.
	form:
		title: Edit task
		time: Time
		service: Service
		messaging: Messaging
		ctype: Category
		cTypes:
			dpa: DPA
		type: Type of the DPA message
		types:
			raw: Raw
			raw-hdp: Raw HDP
		request: DPA request
		request_ts: DPA request timestamp
		response: DPA response
		response_ts: DPA response timestamp
		confirmation: DPA confirmation
		confirmation_ts: DPA confirmation timestamp
		nadr: NADR
		cmd: Command
		pnum: PNUM
		pcmd: PCMD
		hwpid: HWPID
		timeout: Timeout
		msgid: Message ID
		sensors: Sensors
		rcode: Response code
		dpaval: DPA value
		messages:
			ctype: Please select category of message.
			ctype-prompt: Select category of message
			hwpid-rule: HWPID has to contain hexadecimal number of maximal length of 4 chars.
			nadr-rule: NADR has to contain hexadecimal number of maximal length of 2 chars.
			messaging: Please select messaging.
			messaging-prompt: Select messaging
			service: Please select service.
			service-prompt: Select service
			type: Please select type of the DPA message.
			type-prompt: Select message type
		Save: Save
	Edit: Edit
	Remove: Remove

udp:
	title: UDP interface
	description: IQRF UDP interface settings.
	form:
		instance: Name of instance
		RemotePort: Remote port
		LocalPort: Local port
		messages:
			instance: Please enter name of UDP interface.
			RemotePort: Please enter remote port.
			LocalPort: Please enter local port.
		Save: Save

websocket:
	title: Websocket interface
	description: IQRF Websocket interface settings.
	messaging:
		title: Websocket messaging
		form:
			instance: Name of instance
			acceptAsyncMsg: Accept Async messages
			messages:
				instance: Please enter name of websocket messaging.
			Save: Save
	service:
		title: Websocket service
		form:
			instance: Name of instance
			WebsocketPort: Websocket port
			messages:
				instance: Please enter name of Websocket service.
				WebsocketPort: Please enter port of websocket service.
			Save: Save
