title: Configuration
description: Edit configuration.

actions:
	Add: Add
	Edit: Edit
	Export: Export
	Import: Import
	Remove: Remove

messages:
	deleteFailures:
		invalidJson: The configuration has not been deleted because the configuration file is corrupted.
		ioError: The configuration has not been deleted because the webapp is unable to delete the configuration file.
	readFailures:
		invalidJson: The configuration has not been loaded because the configuration file is corrupted.
		ioError: The configuration has not been loaded because the webapp is unable to read the configuration file.
		nonExistingJsonSchema: The configuration has not been loaded because the corresponding JSON schema not found.
		notFound: The configuration not found.
	writeFailures:
		invalidJson: The configuration has not been saved because the configuration file is corrupted.
		ioError: The configuration has not been saved because the webapp is unable to write the configuration file.
		multipleInstances: This component has to have one instance maximally.
		nonExistingJsonSchema: The configuration has not been saved because the corresponding JSON schema not found.
	success: The configuration has been saved successfully.
	successes:
		add: The configuration has been added successfully.
		delete: The configuration has been deleted successfully.
		save: The configuration has been saved successfully.

components:
	title: Components
	description: Manage components.
	add:
		title: Add component
	edit:
		title: Edit component
	form:
		name: Name
		libraryPath: Library path
		libraryName: Library name
		enabled: Enabled
		disabled: Disabled
		startlevel: Start level
		messages:
			name: Please enter name of component.
			libraryPath: "Please enter path to component's library directory."
			libraryName: "Please enter name of component's library file."
			startLevel: "Please enter component's start level."
			confirmDelete: Do you really want to delete component %s?
		save: Save
		add: Add

interfaceMapping:
	cdc: Available CDC mappings
	spi: Available SPI mappings
	uart: Available UART mappings
	boards: Boards
	interfaces: Interfaces

iqmesh:
	title: IQMESH services
	description: Manage IQMESH services.
	otaUpload:
		title: IQRF OTA upload service
		form:
			instance: Name of instance
			uploadPath: Path to a directory with files to upload
			messages:
				instance: Please enter name of OTA upload service instance.
				uploadPath: Please enter path to a directory with files to upload.
			Save: Save

iqrfCdc:
	title: IQRF CDC interface

iqrfDpa:
	title: IQRF DPA interface
iqrfInfo:
	title: IQRF Info

iqrfRepository:
	title: IQRF Repository

iqrfSpi:
	title: IQRF SPI interface

iqrfUart:
	title: IQRF UART interface

jsonMngMetaDataApi:
	title: JSON Metadata API

jsonRawApi:
	title: JSON Raw API

jsonSplitter:
	title: JSON Splitter

main:
	title: Main configuration

migration:
	title: Configuration migration

monitor:
	title: Monitoring service
	description: Monitoring service configuration.
	add: Add a new monitoring service
	edit: Edit the monitoring service
	form:
		reportPeriod: Reporting period in seconds
		WebsocketPort: WebSocket server port
		acceptOnlyLocalhost: Accept only connection from localhost
		messages:
			reportPeriod: Please enter the reporting period in seconds.
			WebSocketPort: Please enter the port of monitoring WebSocket server.
		save: Save
	messages:
		confirmDelete: Do you really want to delete Monitoring service %s?

mq:
	title: MQ interface

mqtt:
	title: MQTT interface
	description: MQTT interface settings.
	add: Add MQTT interface
	edit: Edit MQTT interface
	asyncMessages: Asynchronous messages
	form:
		instance: Name of instance
		BrokerAddr: Broker address
		ClientId: Client ID
		Persistence: Persistence
		QoS: QoS
		QoSes:
			QoS0: QoS 0 - At most once
			QoS1: QoS 1 - At least once
			QoS2: QoS 2 - Exactly once
		TopicRequest: Topic for requests
		TopicResponse: Topic for responses
		User: User
		Password: Password
		EnabledSSL: Enabled TLS
		KeepAliveInterval: Keep alive interval
		ConnectTimeout: Connection timeout
		MinReconnect: Minimal count of reconnects
		MaxReconnect: Maximal count of reconnects
		TrustStore: CA certificate
		KeyStore: Certificate
		PrivateKey: Private key
		PrivateKeyPassword: Private key password
		EnabledCipherSuites: Enabled cipher suites
		EnableServerCertAuth: Enable server certificate authentication
		acceptAsyncMsg: Accept asynchronous messages
		messages:
			confirmDelete: Do you really want to delete MQTT messaging %s?
			instance: Please enter name of MQTT instance.
			BrokerAddr: Please enter address of MQTT broker.
			ClientId: Please enter client ID.
			TopicRequest: Please enter topic for requests.
			TopicResponse: Please enter topic for responses.
		Save: Save

scheduler:
	title: Scheduler
	description: Scheduler settings.
	add: Add task
	import: 'Import task(s)'
	importForm:
		file: JSON task file or ZIP archive with tasks
		import: Import
		messages:
			invalidFormat: The uploaded file is not JSON file or ZIP archive.
			invalidFile: The uploaded file is invalid.
			file: Please select the file to import.
			success: The tasks has been imported successfully.
	edit: Edit task
	form:
		id: ID
		taskId: Task ID
		time: Time
		service: Service
		clientId: Service
		timeSpec:
			cronTime: Time in cron format
			exactTime: Exact time
			periodic: Periodic
			period: Period in seconds
			startTime: Start time
		message:
			title: Messages
			label: 'Message (JSON request)'
			add: Add another message
			remove: Remove message
		messaging: Messaging
		mType: Message types
		msgId: Message ID
		returnVerbose: Enable verbose response
		messages:
			confirmDelete: Do you really want to delete task with ID %s?
			clientId: Please select service.
			clientId-prompt: Select service
			hwpid-rule: HWPID has to contain hexadecimal number of maximal length of 4 chars.
			nadr-rule: NADR has to contain hexadecimal number of maximal length of 2 chars.
			message: Please enter message.
			invalidMessage: Invalid message structure.
			invalidJsonMessage: The message contains invalid JSON syntax.
			messaging: Please select messaging.
			messaging-prompt: Select messaging
			timeSpec:
				period: Please enter a period.
				startTime: Please enter the start time.
			type: Please select type of the DPA message.
			type-prompt: Select message type
			missingJsonSchema: The task has not been loaded because the corresponding JSON schema not found.
		save: Save
		saveAndRestart: Save and restart

schedulerMigration:
	title: Scheduler's configuration migration
	export: Export scheduler's configuration
	import: Import scheduler's configuration
	configuration: "Scheduler's configuration to import"
	messages:
		configuration: "Please select a ZIP archive with a scheduler's configuration to import."
		importedConfig: The scheduler's configuration has been imported.
	errors:
		invalidConfig: The JSON file contains invalid configuration.
		invalidFormat: Uploaded invalid file format.
		readConfig: Cannot read JSON with a scheduler's configuration.

selected-components:
	title: Selected components
	description: Manage selected components.

tracer:
	title: Tracer file

udp:
	title: UDP interface

websocket:
	title: WebSocket interface
	description: IQRF WebSocket interface settings.
	form:
		instance: Name of instance
		acceptAsyncMsg: Accept asynchronous messages
		WebsocketPort: WebSocket port
		acceptOnlyLocalhost: Accept only connection from localhost
		requiredInterfaces: Required interfaces
		requiredInterface:
			name: Required interface name
			instance: Required WebSocket service
		messages:
			messagingInstance: Please enter name of WebSocket messaging.
			serviceInstance: Please enter name of WebSocket service.
			WebsocketPort: Please enter port of WebSocket service.
			requiredInterface:
				add: Add another interface
				remove: Remove this interface
				name: Please select the name of required interface.
				instance: Please select the required WebSocket service instance.
		Save: Save
	interface:
		add: Add WebSocket interface
		edit: Edit WebSocket interface
		messages:
			confirmDelete: Do you really want to delete WebSocket interface %s?
	messaging:
		title: WebSocket messagings
		add: Add WebSocket messaging
		edit: Edit WebSocket messaging
		messages:
			confirmDelete: Do you really want to delete WebSocket messaging %s?
	service:
		title: WebSocket services
		add: Add WebSocket service
		edit: Edit WebSocket service
		messages:
			confirmDelete: Do you really want to delete WebSocket service %s?
