features:
	docs: Show documentation
	grafana: Grafana in the menu
	iqrfGatewayController: IQRF Gateway Controller configuration
	iqrfGatewayTranslator: IQRF Gateway Translator configuration
	networkManager: Network manager
	nodeRed: Node-RED in the menu
	pixla: PIXLA device management
	ssh: SSH daemon manager
	supervisord: Supervisord in the menu
	trUpload: IQRF TR native upload
	updater: System updater
	unattendedUpgrades: Unattended upgrades
	versionChecker: Version checker
