features:
	trUpload: IQRF TR native upload
	node-red: Node-RED in the menu
	pixla: PIXLA
	networkManager: Network manager
	supervisord: Supervisord in the menu
	updater: System updater
	unattendedUpgrades: Unattended upgrades
