title: IQRF Gateway

dashboard: Dashboard

navigation:
	toogle: Toggle navigation

languages:
	title: Language
	cs: Czech
	en: English

sign:
	in: Sign in
	out: Sign out

signIn:
	title: Sign in
	username: Username
	password: Password
	remember: Keep me signed in
	send: Sign in
	messages:
		username: Please enter your username.
		password: Please enter your password.

signOut:
	title: You have been signed out
	message: Sign in to another account

node-red:
	title: Node RED
	description: Open Nede RED workflow.

node-red-dashboard:
	title: Node RED Dashboard
	description: Open Nede RED Dashboard.

supervisor:
	title: Supervisor
	description: Open Supervisor Dashboard.

errors:
	form-timeout: 'Timeout expired, resubmit the form.'
	incorrect-username-password: The username or password you entered is incorrect.