title: IQRF Gateway

dashboard: Dashboard

documentation:
	title: Documentation
	description: Opens the documentation in a new tab.

navigation:
	toogle: Toggle navigation

languages:
	title: Language
	cs: Czech
	en: English

error:
	403:
		title: Access Denied
		header: Error 403
		message: 'You do not have permission to view this page. Please try contact the web site administrator if you believe you should be able to view this page.'
	404:
		title: Page Not Found
		header: Error 404
		message: 'The page you requested could not be found. It is possible that the address is incorrect, or that the page no longer exists. Please use a search engine to find what you are looking for.'
	405:
		title: Method Not Allowed
		header: Error 405
		message: 'The requested method is not allowed for the URL.'
	410:
		title: Page Not Found
		header: Error 410
		message: 'The page you requested has been taken off the site. We apologize for the inconvenience.'
	4xx:
		title: Oops...
		header: Error
		message: 'Your browser sent a request that this server could not understand or process.'

sign:
	in: Sign in
	inForm:
		title: Sign in
		username: Username
		password: Password
		remember: Keep me signed in
		send: Sign in
		messages:
			username: Please enter your username.
			password: Please enter your password.
			incorrectUsernameOrPassword: The username or password you entered is incorrect.
			success: You have been signed in successfully.
	out: Sign out

signOut:
	inactivity: You have been logged out for inactivity
	message: You have been signed out

grafana:
	title: Grafana
	description: Open Grafana dashboard.

node-red:
	title: Node RED
	description: Open Node RED workflow.

node-red-dashboard:
	title: Node RED Dashboard
	description: Open Node RED Dashboard.

supervisor:
	title: Supervisor
	description: Open Supervisor Dashboard.

user:
	title: User manager
	description: Manage users of this webapp.
	add:
		title: Add a new user
		submit: Add
	edit:
		title: Edit an existing user
	id: User ID
	username: User name
	password: Password
	userType: User type
	userTypes:
		normal: Normal user
		power: Power user
	language: Language
	languages:
		en: English
	oldPassword: 'Old password (only if you want change password)'
	newPassword: 'New password (only if you want change password)'
	save: Save
	messages:
		username: Please enter the username.
		password: Please enter the password.
		successAdd: User %username% has been added successfully.
		successEdit: User %username% has been edited successfully.
		oldPassword: Please enter the old password.
		newPassword: Please enter the new password.
		invalidOldPassword: The old password is mismatched.
		usernameAlreadyExists: Username is already used.
		confirmDelete: Do you really want to delete user %s?
		successDelete: User %username% has been deleted successfully.
		notFound: User not found.

update:
	available-webapp: 'There is an available update of the webapp to the version %version%.'
	offline-tag: Offline mode
	new-version-tag: 'New version %version%'
	error: The webapp cannot check if there is available update because it cannot connect to the repository. Probably the gateway has not been connected into the Internet.

errors:
	form-timeout: 'Timeout expired, resubmit the form.'
