title: IQRF Gateway

dashboard: Dashboard

navigation:
	toogle: Toggle navigation

languages:
	title: Language
	cs: Czech
	en: English

sign:
	in: Sign in
	inForm:
		title: Sign in
		username: Username
		password: Password
		remember: Keep me signed in
		send: Sign in
		messages:
			username: Please enter your username.
			password: Please enter your password.
			incorrectUsernameOrPassword: The username or password you entered is incorrect.
			success: You have been signed in successfully.
	out: Sign out

signOut:
	title: You have been signed out
	message: Sign in to another account

node-red:
	title: Node RED
	description: Open Nede RED workflow.

node-red-dashboard:
	title: Node RED Dashboard
	description: Open Nede RED Dashboard.

supervisor:
	title: Supervisor
	description: Open Supervisor Dashboard.

profile:
	title: User profile

changePassword:
	title: "Change user's password"
	form:
		oldPassword: Old password
		newPassword: New password
		messages:
			oldPassword: Please enter the old password.
			newPassword: Please enter the new password.
			success: The password has been changed successfully.
			invalidOldPassword: The old password is mismatched.
		change: Change password

user:
	title: User manager
	description: Manage users of this webapp.
	add:
		title: Add a new user
	edit:
		title: Edit an existing user
	form:
		id: User ID
		username: User name
		password: Password
		userType: User type
		userTypes:
			normal: Normal user
			power: Power user
		language: Language
		languages:
			en: English
		add: Add
		edit: Edit
		messages:
			successAdd: User %username% has been added successfully.
			successDelete: User %username% has been deleted succesfully.
			successEdit: Used %username% has been edited succesfully.
			usernameAlreadyExists: Username is already used.

update:
	available-webapp: 'There is an available update of the webapp to the version %version%.'
	error: The webapp cannot check if there is available update because it cannot connect to the repository. Probably the gateway has not been connected into the Internet.

errors:
	form-timeout: 'Timeout expired, resubmit the form.'
