title: Gateway

info:
	title: Gateway Info
	description: Show infromation about this gateway.
	board: Board
	gwId: IQRF Gateway ID
	version:
		iqrf-gw-daemon: IQRF Gateway Daemon
		iqrf-gw-webapp: IQRF Gateway Webapp
	hostname: Hostname
	addresses:
		ip: IP addresses
		mac: MAC addresses
	tr:
		title: TR info
		error: Cannot get information about the Coordinator.
		moduleType: Module type
		mcuType: MCU type
		moduleId: MID
		os: OS
		dpa: DPA
		rfMode: RF mode
		voltage: Supply voltage
	usages:
		memory: Memory usage
		disks: Disk usages
		swap: Swap usage
		used: Used

diagnostics:
	download: Download diagnostics

log:
	title: IQRF Daemon log
	description: Show log of the iqrf-daemon.
	download: Download

mode:
	title: Change gateway mode
	description: Change gateway mode.
	modes:
		operational:
			title: Operational mode
			description: Change IQRF Daemon mode to operational mode.
			message: Gateway mode has been changed to operational mode.
		service:
			title: Service mode
			description: Change IQRF Daemon mode to service mode.
			message: Gateway mode has been changed to service mode.
		forwarding:
			title: Forwarding mode
			description: Change IQRF Daemon mode to forwarding mode.
			message: Gateway mode has been changed to forwarding mode.

updater:
	title: IQRF Gateway updater
	update: Update packages list
	upgrade: Upgrade packages
	output: Command output

errors:
	log-read: Cannot read log file.
