title: IQRF Net
description: Control IQRF network.

bonding:
	title: Bonding
	method: Bonding method
	methods:
		local: Local bonding
		smartConnect: Smart Connect
	address: 'Address'
	autoAddress: Auto address
	smartConnectCode: IQRF Smart Connect Code
	messages:
		address: Please enter a valid address. Its has to be a decimal number from 1 to 239.
		smartConnectCode: Please enter IQRF Smart Connect Code.
		add:
			failure: An error occurred while bonding a new device.
			success: A new device has been bonded successfully.
		clearAll:
			failure: An error occurred while clearing all bonds.
			success: All bonds have been cleared successfully.
		remove:
			failure: An error occurred while removing a device from the network.
			success: A device has been removed successfully from the network.
	addBond: Bond Node
	removeBond: Unbond Node
	clearAllBonds: Clear All Bonds

changeAddress:
	title: Change network address
	address: New address
	messages:
		address: Address has to be an integer from 0 to 239.
	set: Set

devices:
	title: Devices Info
	bonded: Bonded device
	coordinator: Coordinator
	discovered: Discovered device
	unbonded: Unbonded device

discovery:
	title: Discovery
	txPower: TX Power
	maxNodeAddress: Max. Node Address
	messages:
		txPower: TX Power have to be integer from 0 to 7.
		maxNodeAddress: Max. Node Address has to be an integer from 0 to 239.
		failure: An error occurred while running discovery.
		success: The discovery has been finished successfully.
	send: Discovery

dpaConfig:
	title: DPA
	embeddedPeripherals: Embedded peripherals
	embPers:
		coordinator: Coordinator
		node: Node
		os: OS
		eeprom: EEPROM
		eeeprom: EEEPROM
		ram: RAM
		ledr: LEDR
		ledg: LEDG
		spi: SPI
		io: IO
		thermometer: Thermometer
		uart: UART
		frc: FRC
	other: Other
	customDpaHandler: Custom DPA Handler
	ioSetup: IO Setup
	dpaAutoexec: Autoexec
	routingOff: Routing off
	peerToPeer: Allow peer to peer
	neverSleep: Stay awake when not bonded
	uartBaudrate: UART interface baud rate
	uartBaudrates:
		1200: 1200 Bd
		2400: 2400 Bd
		4800: 4800 Bd
		9600: 9600 Bd
		19200: 19200 Bd
		38400: 38400 Bd
		57600: 57600 Bd
		115200: 115200 Bd
		230400: 230400 Bd
	nodeDpaInterface: Node DPA interface
	save: Save

enumeration:
	title: IQMESH Device enumeration
	deviceInfo: Device info
	deviceAddr: Device address
	manufacturer: Manufacturer
	product: Product name
	trInfo: TR info
	trType: TR type
	mid: Module ID
	osVersion: IQRF OS version
	dpaVersion: DPA version
	rssi: RSSI
	supplyVoltage: Supply voltage
	back: Back to IQMESH Network manager
	messages:
		failure: An error occurred while the device enumeration.

macros:
	title: Macros

network-manager:
	title: IQMESH Network manager
	description: IQMESH Network manager.
	control: Control

osConfig:
	title: OS
	rf: RF
	networkType: Network Type
	networkTypes:
		std: STD
		stdLp: STD+LP
		lp: LP
	rfBand: RF Band
	rfBands:
		433: 433 MHz
		868: 868 MHz
		916: 916 MHz
	rfChannelA: RF channel A
	rfChannelB: RF channel B
	rfSubChannelA: RF channel 2nd network
	rfSubChannelB: Alternative DSM channel
	stdAndLpNetwork: STD and LP network
	txPower: TX power
	rxFilter: RX filter
	lpRxTimeout: LP RX timeout
	rfPgm: RFPGM
	rfPgmEnableAfterReset: Enable after reset
	rfPgmTerminateAfter1Min: Termination after ~1 minute
	rfPgmTerminateMcuPin: Termination by MCU pin
	rfPgmDualChannel: Dual channel
	rfPgmLpMode: LP mode
	rfPgmIncorrectUpload: Incorrect upload
	messages:
		breakInteroperability: You will break interoperability if you disable STD and LP network.
		lpRxTimeout: LP RX timeout has to be in range from 1 to 255.
		rfChannel443: RF Channel has to be in range from 0 to 16.
		rfChannel868: RF Channel has to be in range from 0 to 67.
		rfChannel916: RF Channel has to be in range from 0 to 255.
		rxFilter: RX filter have to be integer from 0 to 63.
		txPower: TX Power have to be integer from 0 to 7.
	save: Save

security:
	title: Security
	input-format: Input format
	input-formats:
		ascii: ASCII
		hex: HEX
	password: Password
	setAccessPassword: Set Access Password
	setUserKey: Set User Key
	messages:
		ascii-password-length: It has to have maximal length of 16 chars.
		hex-password-format: It has to contain hexadecimal number.
		hex-password-length: It has to have maximal length of 32 chars.
	accessPassword:
		failure: An error occurred while the access password setting.
		success: The access password has been set successfully.
	userKey:
		failure: An error occurred while the user key setting.
		success: The user key has been set successfully.

send-json:
	title: Send IQRF JSON request
	description: Send IQRF JSON request.
	documentation: Show API documentation.
	json: IQRF JSON request
	messages:
		invalidJson: Invalid JSON request.
		json: Please enter IQRF JSON request.
	send: Send
	response: Response
	request: Request

send-packet:
	title: Send DPA packet
	description: Send DPA packet.
	packet: DPA packet
	overwriteAddress: Set own NADR
	customAddress: Custom NADR
	overwriteTimeout: Set own DPA timeout
	customTimeout: 'DPA timeout (ms)'
	messages:
		address-length: It has to have maximal length of 2 chars.
		address-rule: It has to contain hexadecimal number - NADR.
		invalidPacket: Invalid DPA packet.
		packet: Please enter DPA packet.
	send: Send
	parsed-response: Parsed response
	response: Response
	request: Request

standard:
	title: IQRF Standard manager
	description: IQRF Standard manager.
	binaryOutput:
		title: IQRF Standard binary output
		address: Address
		index: Index of the binary output
		state: State of the binary output
		messages:
			address: Address has to be an integer from 0 to 239.
			index: Index has to be an integer from 0 to 31.
			enumerateError: An error occurred while IQRF Standared binary output enumeration.
			getError: An error occurred while IQRF Standard binary output's state getting.
			setError: An error occurred while IQRF Standard binary output's state setting.
		enumerate: Enumerate
		get: Get states
		set: Set state
		table:
			outputs: Outputs
			index: Index
			state: State
	light:
		title: IQRF Standard light
		address: Address
		index: Index of the light
		power: Power of the light
		messages:
			address: Address has to be an integer from 0 to 239.
			index: Index has to be an integer from 0 to 31.
			power: Power has to be an integer from 0 to 100.
			enumerateError: An error occurred while IQRF Standared light enumeration.
			getError: An error occurred while IQRF Standard light's power getting.
			setError: An error occurred while IQRF Standard light's power setting.
			incrementError: An error occurred while IQRF Standard light's power incrementing.
			decrementError: An error occurred while IQRF Standard light's power decrementing.
		enumerate: Enumerate
		get: Get power
		set: Set power
		increment: Increment power
		decrement: Decrement power
		table:
			lights: Lights
	sensor:
		title: IQRF Standard sensor
		address: Address
		messages:
			address: Address has to be an integer from 0 to 239.
			index: Index of the binary output gas to be an integer from 0 to 31.
			enumerateError: An error occurred while IQRF Standared sensor enumeration.
			readError: An error occurred while IQRF Standared sensor reading values.
		enumerate: Enumerate
		readAll: Read all
		type: Type
		unit: Unit
		value: Value

trConfiguration:
	title: TR configuration
	description: Edit TR configuration.
	read:
		failure: An error occurred while TR configuration reading.
	write:
		failure: An error occurred while TR configuration saving.
		success: The TR configuration has been saved successfully.

webSocketClient:
	messages:
		emptyResponse: No response from IQRF Gateway Daemon.
