# Copyright 2017-2025 IQRF Tech s.r.o.
# Copyright 2019-2025 MICRORISC s.r.o.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

title: IQRF network
description: Control IQRF network.

dpaUpload:
	title: DPA plug-in
	version: DPA version
	messages:
		version: Please select DPA version to upload.
	upload: Upload

osUpload:
	title: IQRF OS upload
	version: IQRF OS version
	messages:
		version: Please select IQRF OS version to upload.
	upload: Upload

security:
	title: Security
	input-format: Input format
	input-formats:
		ascii: ASCII
		hex: HEX
	password: Password
	setAccessPassword: Set Access Password
	setUserKey: Set User Key
	messages:
		ascii-password-length: It has to have maximal length of 16 chars.
		hex-password-format: It has to contain hexadecimal number.
		hex-password-length: It has to have maximal length of 32 chars.
	accessPassword:
		failure: An error occurred while the access password setting.
		success: The access password has been set successfully.
	userKey:
		failure: An error occurred while the user key setting.
		success: The user key has been set successfully.

trConfiguration:
	title: TR configuration
	description: Edit TR configuration.
	read:
		failure: An error occurred while TR configuration reading.
		success: The TR configuration has been read successfully.
	write:
		failure: An error occurred while TR configuration saving.
		success: The TR configuration has been saved successfully.

trUpload:
	title: Coordinator upload
	description: IQRF Coordinator upload.
	dpaHandlerUpload: Custom DPA Handler
	file: File to upload
	fileFormat: Target of upload
	fileFormats:
		hex: HEX
		iqrf: IQRF
		trcnfg: TRCNFG
	upload: Upload
	messages:
		disabled: TR upload is disabled.
		info: These actions can take tens of seconds.
		failure: An error occured while the upload.
		file: Please select the file to upload.
		fileFormat: Please select the target of upload.
		invalidDpaHandler: The uploaded file is not valid DPA Handler.
		moveFailure: The file has not been uploaded due wrong permissions.
		start: The upload process has been started.
		success: The file has been sucessfuly uploaded into the coordinator.
		downloadFailure: The webapp has not been able to download the DPA file. Probably the gateway has not been connected into the Internet.

webSocketClient:
	messages:
		emptyResponse: No response from IQRF network.
