emailVerification:
	title: Email address verification
	greeting: 'Dear %username%,'
	body: 'in order to complete your user profile at IQRF Gateway %hostname%, you need to verify your e-mail address by clicking on the link bellow.'
	footer:
		'''
			Best regards,
			IQRF Gateway %hostname%
		'''
mailerConfigurationTest:
	title: Mailer configuration test
	greeting: 'Dear %username%,'
	body: 'if you have received this email, the SMTP configuration is correct.'
	footer:
		'''
			Best regards,
			IQRF Gateway %hostname%
		'''
passwordRecovery:
	title: Password recovery
	greeting: 'Dear %username%,'
	body: 'a password reset was requested for your account from IQRF Gateway %hostname%. To reset your password, click the link below. Please note that this link will expire in 24 hours. If you did not issue a password reset request, you may ignore this email.'
	footer:
		'''
			Best regards,
			IQRF Gateway %hostname%
		'''
