title: Network manager

ethernet:
	messages:
		invalidUuid: Invalid network connection UUID.

messages:
	missingNetworkManager: Network manager is not installed.
	disabled: Network manager is disabled
