title: Network manager
description: Controls the network.

ethernet:
	title: Ethernet connections
	description: Controls the Ethernet connections.
	edit:
		title: Edit Ethernet connection
	datagrid:
		name: Interface name
		state: Interface status
		edit: Edit
	form:
		ipv4:
			title: IPv4 configuration
			method: Connection method
			methods:
				auto: DHCP
				disabled: Disabled
				manual: Manual
				link-local: Link-local
				shared: Shared with other computers
			address: IPv4 address
			addresses:
				add: Add IPv4 address
				remove: Remove IPv4 address
			mask: IPv4 subnet mask
			gateway: IPv4 gateway address
			dns:
				title: IPv4 DNS servers
				address: IPv4 address
				add: Add DNS server
				remove: Remove DNS server
			prompts:
				method: Please select IPv4 connection method
			messages:
				method: Please select the IPv4 connection method.
				address: Please enter a valid IPv4 address.
				mask: Please enter a valid IPv4 subnet mask.
		ipv6:
			title: IPv6 configuration
			method: Connection method
			methods:
				auto: SLAAC
				disabled: Disabled
				dhcp: DHCPv6
				ignore: Ignore
				link-local: Link-local
				manual: Manual
				shared: Shared with other computers
			address: IPv6 address
			addresses:
				add: Add IPv6 address
				remove: Remove IPv6 address
			prefix: IPv6 prefix
			gateway: IPv6 gateway address
			dns:
				title: IPv6 DNS servers
				address: IPv6 address
				add: Add DNS server
				remove: Remove DNS server
			prompts:
				method: Please select IPv6 connection method
			messages:
				method: Please select the IPv6 connection method
				address: Please enter a valid IPv6 address.
				prefix: Please enter a valid IPv6 prefix.
		messages:
			success: The configuration has been saved successfully.
		save: Save
	messages:
		invalidUuid: Invalid network connection UUID.

messages:
	disabled: Network manager is disabled
