actions:
	disable: Disable
	enable: Enable
	start: Start
	stop: Stop
	restart: Restart
	status: Refresh status

status: Service status

states:
	active: active
	inactive: inactive
	disabled: Disabled
	enabled: Enabled
	missing: Missing

errors:
	unsupportedInit: Not supported init system is used.
	processTimeout: Service manager process timed out.
