Source: iqrf-gateway-webapp
Section: php
Priority: optional
Maintainer: Roman Ondráček <roman.ondracek@iqrf.com>
Build-Depends: debhelper (>= 10), pkg-php-tools (>= 1.35), composer,
 php-common (>= 7.1), php-cli (>= 7.1), php-curl (>= 7.1), php-json (>= 7.1),
 php-mbstring (>= 7.1), php-sqlite3 (>= 7.1), php-xml (>= 7.1), php-zip (>= 7.1)
Standards-Version: 4.1.5
Homepage: https://gitlab.iqrf.org/open-source/iqrf-gateway-webapp
Vcs-Git: https://gitlab.iqrf.org/open-source/iqrf-gateway-webapp.git
Vcs-Browser: https://gitlab.iqrf.org/open-source/iqrf-gateway-webapp

Package: iqrf-gateway-webapp
Architecture: all
Depends: ${misc:Depends}, iqrf-gateway-daemon | iqrf-gateway-daemon-dbg,
 openssl, php-common (>= 7.1), php-cli (>= 7.1), php-curl (>= 7.1),
 php-fpm (>= 7.1), php-json (>= 7.1), php-mbstring (>= 7.1),
 php-sqlite3 (>= 7.1), php-xml (>= 7.1), php-zip (>= 7.1), nginx-full, sudo
Description: Web user interface for IQRF Gateway Daemon
 IQRF Gateway webapp is an PHP web application for IQRF Gateway configuration.
