#!/usr/bin/make -f

# Copyright 2017-2021 IQRF Tech s.r.o.
# Copyright 2019-2021 MICRORISC s.r.o.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

ROOT_DIR=debian/iqrf-gateway-webapp

CACHE_DIR=${ROOT_DIR}/var/cache/iqrf-gateway-webapp/
LOG_DIR=${ROOT_DIR}/var/log/iqrf-gateway-webapp/

%:
	dh $@ --with apache2,phpcomposer

override_dh_auto_build:
	# Set current git commit
	sed -i "s/\t\"commit\"\: .*/\t\"commit\"\: \"`git rev-parse --verify HEAD`\",/" version.json
	# Set GitLab CI pipeline ID
	sed -i "s/\t\"pipeline\"\: .*/\t\"pipeline\"\: \"${CI_PIPELINE_ID}\"/" version.json
	dh_auto_build

override_dh_fixperms:
	dh_fixperms
	chown -R www-data:www-data ${ROOT_DIR}/usr/share/iqrf-gateway-webapp/
	chown -R www-data:www-data ${CACHE_DIR}
	chown -R www-data:www-data ${ROOT_DIR}/var/lib/iqrf-gateway-webapp/
	chown -R www-data:www-data ${LOG_DIR}

override_dh_auto_test:
	# Do nothing
