services:
	- App\CloudModule\Forms\AwsMqttFormFactory
	- App\CloudModule\Forms\AzureMqttFormFactory
	- App\CloudModule\Forms\BluemixMqttFormFactory
	- App\CloudModule\Forms\InteliGlueMqttFormFactory
	- App\CloudModule\Model\AwsManager
	- App\CloudModule\Model\AzureManager
	- App\CloudModule\Model\BluemixManager
	- App\CloudModule\Model\InteliGlueManager
	- App\CloudModule\Model\InvalidConnectionString
