services:
	- App\CloudModule\Forms\AwsFormFactory
	- App\CloudModule\Forms\AzureFormFactory
	- App\CloudModule\Forms\HexioFormFactory
	- App\CloudModule\Forms\IbmCloudFormFactory
	- App\CloudModule\Forms\PixlaFormFactory
