services:
	- App\CloudModule\Models\AwsManager(%daemon.certDir%)
	- App\CloudModule\Models\AzureManager
	- App\CloudModule\Models\IbmCloudManager(%daemon.certDir%)
	- App\CloudModule\Models\InteliGlueManager(%daemon.certDir%)
	- App\CloudModule\Models\PixlaManager
	- App\CloudModule\Models\TcPisekManager(%daemon.certDir%)
