services:
	- App\ServiceModule\Model\DockerSupervisorManager
	- App\ServiceModule\Model\ServiceManager(%initDaemon%)
	- App\ServiceModule\Model\SystemDManager
	- App\ServiceModule\Model\UnknownManager
