services:
	- App\ServiceModule\Models\DockerSupervisorManager
	- App\ServiceModule\Models\ServiceManager(%initDaemon%)
	- App\ServiceModule\Models\SystemDManager
	- App\ServiceModule\Models\UnknownManager
