services:
	- App\ServiceModule\Models\ServiceManager(%initDaemon%)
	- App\ServiceModule\Models\SupervisordManager
	- App\ServiceModule\Models\SystemDManager
	- App\ServiceModule\Models\UnknownManager
