services:
	- App\IqrfAppModule\Forms\IqrfAppSendRawFormFactory
	- App\IqrfAppModule\Forms\IqrfNetBondNodeFormFactory
	- App\IqrfAppModule\Forms\IqrfNetDiscoveryFormFactory
	- App\IqrfAppModule\Forms\IqrfNetRebondNodeFormFactory
	- App\IqrfAppModule\Forms\IqrfNetRemoveNodeFormFactory
	- App\IqrfAppModule\Model\CoordinatorParser
	- App\IqrfAppModule\Model\IqrfAppManager
	- App\IqrfAppModule\Model\IqrfMacroManager(%macroPath%)
	- App\IqrfAppModule\Model\IqrfNetManager
	- App\IqrfAppModule\Model\OsParser
