{block content}
<div class="panel panel-default">
  <header class="panel-heading">
    <h1 n:block=title class="panel-title">You have been signed out</h1>
  </header>
  <article class="panel-body">
    <a n:href="in">Sign in to another account</a>
  </article>
</div>
