services:
	- App\ConfigModule\Forms\ConfigComponentsFormFactory
	- App\ConfigModule\Forms\ConfigIqrfCdcFormFactory
	- App\ConfigModule\Forms\ConfigIqrfDpaFormFactory
	- App\ConfigModule\Forms\ConfigIqrfRepositoryFormFactory
	- App\ConfigModule\Forms\ConfigIqrfSpiFormFactory
	- App\ConfigModule\Forms\ConfigJsonSplitterFormFactory
	- App\ConfigModule\Forms\ConfigJsonDpaApiRawFormFactory
	- App\ConfigModule\Forms\ConfigMainFormFactory
	- App\ConfigModule\Forms\ConfigMigrationFormFactory
	- App\ConfigModule\Forms\ConfigMqFormFactory
	- App\ConfigModule\Forms\ConfigMqttFormFactory
	- App\ConfigModule\Forms\ConfigOtaUploadFormFactory
	- App\ConfigModule\Forms\ConfigSchedulerFormFactory
	- App\ConfigModule\Forms\ConfigUdpFormFactory
	- App\ConfigModule\Forms\ConfigWebsocketFormFactory
	- App\ConfigModule\Forms\ConfigWebsocketMessagingFormFactory
	- App\ConfigModule\Forms\ConfigWebsocketServiceFormFactory
	- App\ConfigModule\Forms\GenericConfigFormFactory
	- App\ConfigModule\Model\ComponentManager
	- App\ConfigModule\Model\GenericManager
	- App\ConfigModule\Model\IqrfManager
	- App\ConfigModule\Model\IncompleteConfiguration
	- App\ConfigModule\Model\MainManager
	- App\ConfigModule\Model\MigrationManager(%daemon.configDir%)
	- App\ConfigModule\Model\SchedulerManager
	- App\ConfigModule\Model\WebsocketManager
