services:
	- App\ConfigModule\Datagrids\ComponentsDataGridFactory
	- App\ConfigModule\Forms\ComponentsFormFactory
	- App\ConfigModule\Forms\IqrfCdcFormFactory
	- App\ConfigModule\Forms\IqrfDpaFormFactory
	- App\ConfigModule\Forms\IqrfRepositoryFormFactory
	- App\ConfigModule\Forms\IqrfSpiFormFactory
	- App\ConfigModule\Forms\JsonSplitterFormFactory
	- App\ConfigModule\Forms\JsonDpaApiRawFormFactory
	- App\ConfigModule\Forms\MainFormFactory
	- App\ConfigModule\Forms\MigrationFormFactory
	- App\ConfigModule\Forms\MqFormFactory
	- App\ConfigModule\Forms\MqttFormFactory
	- App\ConfigModule\Forms\OtaUploadFormFactory
	- App\ConfigModule\Forms\SchedulerFormFactory
	- App\ConfigModule\Forms\UdpFormFactory
	- App\ConfigModule\Forms\WebsocketFormFactory
	- App\ConfigModule\Forms\WebsocketMessagingFormFactory
	- App\ConfigModule\Forms\WebsocketServiceFormFactory
	- App\ConfigModule\Forms\GenericConfigFormFactory
	- App\ConfigModule\Model\ComponentManager
	- App\ConfigModule\Model\GenericManager
	- App\ConfigModule\Model\IqrfManager
	- App\ConfigModule\Model\MainManager
	- App\ConfigModule\Model\MigrationManager(%daemon.configDir%)
	- App\ConfigModule\Model\SchedulerManager
	- App\ConfigModule\Model\WebsocketManager
