services:
	- App\ConfigModule\Datagrids\ComponentsDataGridFactory
	- App\ConfigModule\Datagrids\MonitorDataGridFactory
	- App\ConfigModule\Datagrids\MqttMessagingDataGridFactory
	- App\ConfigModule\Datagrids\SchedulerDataGridFactory
	- App\ConfigModule\Datagrids\WebSocketDataGridFactory
	- App\ConfigModule\Datagrids\WebSocketMessagingDataGridFactory
	- App\ConfigModule\Datagrids\WebSocketServiceDataGridFactory
