services:
	- App\ConfigModule\Forms\ComponentsFormFactory
	- App\ConfigModule\Forms\JsonDpaApiRawFormFactory
	- App\ConfigModule\Forms\MainFormFactory
	- App\ConfigModule\Forms\MonitorFormFactory
	- App\ConfigModule\Forms\MqttFormFactory
	- App\ConfigModule\Forms\OtaUploadFormFactory
	- App\ConfigModule\Forms\SchedulerFormFactory
	- App\ConfigModule\Forms\SchedulerImportFormFactory
	- App\ConfigModule\Forms\TraceFileFormFactory
	- App\ConfigModule\Forms\UdpFormFactory
	- App\ConfigModule\Forms\WebSocketFormFactory
	- App\ConfigModule\Forms\WebSocketMessagingFormFactory
	- App\ConfigModule\Forms\WebSocketServiceFormFactory
