services:
	- App\ConfigModule\Models\ComponentManager
	controller.fileManager:
		factory: App\CoreModule\Models\JsonFileManager('/etc/iqrf-gateway-controller')
		autowired: false
	controller.manager: App\ConfigModule\Models\ControllerConfigManager(@controller.fileManager)
	componentSchemaManager:
		factory: App\ConfigModule\Models\ComponentSchemaManager(%daemon.schemaDir%)
		autowired: self
	- App\ConfigModule\Models\GenericManager
	- App\ConfigModule\Models\IqrfManager
	- App\ConfigModule\Models\MainManager
	- App\ConfigModule\Models\MigrationManager(%daemon.configDir%)
	- App\ConfigModule\Models\SchedulerManager
	- App\ConfigModule\Models\SchedulerMigrationManager
	schemaSchedulerManager:
		factory: App\ConfigModule\Models\SchedulerSchemaManager
		autowired: self
	- App\ConfigModule\Models\TaskTimeManager
	translator.fileManager:
		factory: App\CoreModule\Models\JsonFileManager('/etc/iqrf-gateway-translator')
		autowired: false
	translator.manager: App\ConfigModule\Models\TranslatorConfigManager(@translator.fileManager)
