services:
	- App\ConfigModule\Models\ComponentManager
	componentSchemaManager:
		factory: App\ConfigModule\Models\ComponentSchemaManager(%daemon.schemaDir%)
		autowired: self
	- App\ConfigModule\Models\GenericManager
	- App\ConfigModule\Models\IqrfManager
	- App\ConfigModule\Models\MainManager
	- App\ConfigModule\Models\MigrationManager(%daemon.configDir%)
	- App\ConfigModule\Models\MonitorManager
	- App\ConfigModule\Models\SchedulerManager
	- App\ConfigModule\Models\SchedulerMigrationManager
	- App\ConfigModule\Models\TaskTimeManager
	- App\ConfigModule\Models\WebSocketManager
