info:
	title: IQRF Gateway Webapp API specification
	version: '0.0.1'
	license:
		name: Apache 2.0
		url: https://www.apache.org/licenses/LICENSE-2.0.html
	contact:
		name: Roman Ondráček
		email: roman.ondracek@iqrf.com
servers:
	-
		url: '{protocol}://{server}/'
		variables:
			protocol:
				enum:
					- http
					- https
				default: http
			server:
				default: localhost:8080
components:
	responses:
		BadRequest:
			description: Bad request
			content:
				'application/json':
					schema:
						$ref: '#/components/schemas/Error'
		ServerError:
			description: Server error
			content:
				'application/json':
					schema:
						$ref: '#/components/schemas/Error'
		UnauthorizedError:
			description: API key or user token is missing or invalid
			headers:
				WWW-Authenticate:
					schema:
						type: string
	schemas:
		ApiKeyCreated:
			$ref: https://apidocs.iqrf.org/iqrf-gateway-webapp-api/schemas/apiKeyCreated.json
		ApiKeyDetail:
			$ref: https://apidocs.iqrf.org/iqrf-gateway-webapp-api/schemas/apiKeyDetail.json
		ApiKeyModify:
			$ref: https://apidocs.iqrf.org/iqrf-gateway-webapp-api/schemas/apiKeyModify.json
		AptConfiguration:
			$ref: https://apidocs.iqrf.org/iqrf-gateway-webapp-api/schemas/aptConfiguration.json
		CertificateDetail:
			$ref: https://apidocs.iqrf.org/iqrf-gateway-webapp-api/schemas/certificate.json
		CloudAws:
			$ref: https://apidocs.iqrf.org/iqrf-gateway-webapp-api/schemas/cloudAws.json
		CloudAzure:
			$ref: https://apidocs.iqrf.org/iqrf-gateway-webapp-api/schemas/cloudAzure.json
		CloudHexio:
			$ref: https://apidocs.iqrf.org/iqrf-gateway-webapp-api/schemas/cloudHexio.json
		CloudIbm:
			$ref: https://apidocs.iqrf.org/iqrf-gateway-webapp-api/schemas/cloudIbm.json
		CloudInteliGlue:
			$ref: https://apidocs.iqrf.org/iqrf-gateway-webapp-api/schemas/cloudInteliGlue.json
		ControllerConfig:
			$ref: https://apidocs.iqrf.org/iqrf-gateway-webapp-api/schemas/controllerConfig.json
		DaemonComponent:
			$ref: https://apidocs.iqrf.org/iqrf-gateway-webapp-api/schemas/daemonComponent.json
		DaemonComponentDetail:
			$ref: https://apidocs.iqrf.org/iqrf-gateway-webapp-api/schemas/daemonComponentDetail.json
		DaemonComponentEnabled:
			$ref: https://apidocs.iqrf.org/iqrf-gateway-webapp-api/schemas/daemonComponentEnabled.json
		DaemonConfiguration:
			$ref: https://apidocs.iqrf.org/iqrf-gateway-webapp-api/schemas/daemonConfiguration.json
		DpaFile:
			$ref: https://apidocs.iqrf.org/iqrf-gateway-webapp-api/schemas/dpaFile.json
		GatewayInfo:
			$ref: https://apidocs.iqrf.org/iqrf-gateway-webapp-api/schemas/gatewayInfo.json
		Error:
			$ref: https://apidocs.iqrf.org/iqrf-gateway-webapp-api/schemas/error.json
		Feature:
			$ref: https://apidocs.iqrf.org/iqrf-gateway-webapp-api/schemas/feature.json
		FeatureList:
			$ref: https://apidocs.iqrf.org/iqrf-gateway-webapp-api/schemas/featureList.json
		IqrfIdeMacros:
			$ref: https://apidocs.iqrf.org/iqrf-gateway-webapp-api/schemas/iqrfIdeMacros.json
		IqrfInterfaces:
			$ref: https://apidocs.iqrf.org/iqrf-gateway-webapp-api/schemas/iqrfInterfaces.json
		IqrfOsDpaUpgrade:
			$ref: https://apidocs.iqrf.org/iqrf-gateway-webapp-api/schemas/iqrfOsDpaUpgrade.json
		IqrfOsPatchDetail:
			$ref: https://apidocs.iqrf.org/iqrf-gateway-webapp-api/schemas/iqrfOsPatchDetail.json
		IqrfOsPatchUpgrade:
			$ref: https://apidocs.iqrf.org/iqrf-gateway-webapp-api/schemas/iqrfOsPatchUpgrade.json
		IqrfOsUpgradeFiles:
			$ref: https://apidocs.iqrf.org/iqrf-gateway-webapp-api/schemas/iqrfOsUpgradeFiles.json
		IqrfOsUpgradeList:
			$ref: https://apidocs.iqrf.org/iqrf-gateway-webapp-api/schemas/iqrfOsUpgradeList.json
		InstallationCheck:
			$ref: https://apidocs.iqrf.org/iqrf-gateway-webapp-api/schemas/installationCheck.json
		MainConfiguration:
			$ref: https://apidocs.iqrf.org/iqrf-gateway-webapp-api/schemas/mainConfiguration.json
		Mapping:
			$ref: https://apidocs.iqrf.org/iqrf-gateway-webapp-api/schemas/mapping.json
		MappingDetail:
			$ref: https://apidocs.iqrf.org/iqrf-gateway-webapp-api/schemas/mappingDetail.json
		MenderConfig:
			$ref: https://apidocs.iqrf.org/iqrf-gateway-webapp-api/schemas/menderConfig.json
		NetworkConnection:
			$ref: https://apidocs.iqrf.org/iqrf-gateway-webapp-api/schemas/networkConnection.json
		NetworkConnections:
			$ref: https://apidocs.iqrf.org/iqrf-gateway-webapp-api/schemas/networkConnections.json
		NetworkInterfaces:
			$ref: https://apidocs.iqrf.org/iqrf-gateway-webapp-api/schemas/networkInterfaces.json
		NetworkConnectivityState:
			$ref: https://apidocs.iqrf.org/iqrf-gateway-webapp-api/schemas/networkConnectivityState.json
		NetworkWifiList:
			$ref: https://apidocs.iqrf.org/iqrf-gateway-webapp-api/schemas/networkWifiList.json
		OpenApiSpecification:
			$ref: https://raw.githubusercontent.com/OAI/OpenAPI-Specification/master/schemas/v3.0/schema.json
		PasswordChange:
			$ref: https://apidocs.iqrf.org/iqrf-gateway-webapp-api/schemas/passwordChange.json
		PixlaToken:
			$ref: https://apidocs.iqrf.org/iqrf-gateway-webapp-api/schemas/pixlaToken.json
		PowerControl:
			$ref: https://apidocs.iqrf.org/iqrf-gateway-webapp-api/schemas/powerControl.json
		ServiceList:
			$ref: https://apidocs.iqrf.org/iqrf-gateway-webapp-api/schemas/serviceList.json
		ServiceStatus:
			$ref: https://apidocs.iqrf.org/iqrf-gateway-webapp-api/schemas/serviceStatus.json
		Task:
			$ref: https://apidocs.iqrf.org/iqrf-gateway-webapp-api/schemas/task.json
		TaskList:
			$ref: https://apidocs.iqrf.org/iqrf-gateway-webapp-api/schemas/taskList.json
		TimeGet:
			$ref: https://apidocs.iqrf.org/iqrf-gateway-webapp-api/schemas/timeGet.json
		TimezoneList:
			$ref: https://apidocs.iqrf.org/iqrf-gateway-webapp-api/schemas/timezoneList.json
		TimezoneSet:
			$ref: https://apidocs.iqrf.org/iqrf-gateway-webapp-api/schemas/timezoneSet.json
		TranslatorConfig:
			$ref: https://apidocs.iqrf.org/iqrf-gateway-webapp-api/schemas/translatorConfig.json
		UploaderFile:
			$ref: https://apidocs.iqrf.org/iqrf-gateway-webapp-api/schemas/uploaderFile.json
		UserCreate:
			$ref: https://apidocs.iqrf.org/iqrf-gateway-webapp-api/schemas/userCreate.json
		UserDetail:
			$ref: https://apidocs.iqrf.org/iqrf-gateway-webapp-api/schemas/userDetail.json
		UserEdit:
			$ref: https://apidocs.iqrf.org/iqrf-gateway-webapp-api/schemas/userEdit.json
		UserSignIn:
			$ref: https://apidocs.iqrf.org/iqrf-gateway-webapp-api/schemas/userSignIn.json
		UserToken:
			$ref: https://apidocs.iqrf.org/iqrf-gateway-webapp-api/schemas/jwt.json
		VersionDaemon:
			$ref: https://apidocs.iqrf.org/iqrf-gateway-webapp-api/schemas/versionDaemon.json
		VersionWebapp:
			$ref: https://apidocs.iqrf.org/iqrf-gateway-webapp-api/schemas/versionWebapp.json
		WireguardTunnel:
			$ref: https://apidocs.iqrf.org/iqrf-gateway-webapp-api/schemas/wireguardTunnel.json
	securitySchemes:
		bearerAuth:
			type: http
			scheme: 'bearer'
			bearerFormat: JWT
security:
	- bearerAuth: []
