services:
	- App\ApiModule\Version0\Controllers\OpenApiController
	- App\ApiModule\Version0\Controllers\DiagnosticsController
	- App\ApiModule\Version0\Controllers\GatewayController
	- App\ApiModule\Version0\Controllers\IqrfController
	- App\ApiModule\Version0\Controllers\UserController
	- App\ApiModule\Version0\Controllers\UsersController
	- App\ApiModule\Version0\Controllers\VersionController
