services:
	- App\ApiModule\Version0\Controllers\ApiKeyController
	- App\ApiModule\Version0\Controllers\CertificateController
	- App\ApiModule\Version0\Controllers\Cloud\AwsController
	- App\ApiModule\Version0\Controllers\Cloud\AzureController
	- App\ApiModule\Version0\Controllers\Cloud\HexioController
	- App\ApiModule\Version0\Controllers\Cloud\IbmCloudController
	- App\ApiModule\Version0\Controllers\Cloud\InteliGlueController
	- App\ApiModule\Version0\Controllers\ConfigController
	- App\ApiModule\Version0\Controllers\ConfigMigrationController
	- App\ApiModule\Version0\Controllers\ControllerConfigController
	- App\ApiModule\Version0\Controllers\DiagnosticsController
	- App\ApiModule\Version0\Controllers\FeatureController
	- App\ApiModule\Version0\Controllers\GatewayController
	- App\ApiModule\Version0\Controllers\InstallationController
	- App\ApiModule\Version0\Controllers\IqrfController
	- App\ApiModule\Version0\Controllers\MenderConfigController
	- App\ApiModule\Version0\Controllers\NetworkController
	- App\ApiModule\Version0\Controllers\OpenApiController
	- App\ApiModule\Version0\Controllers\PixlaController
	- App\ApiModule\Version0\Controllers\SchedulerController
	- App\ApiModule\Version0\Controllers\ServicesController
	- App\ApiModule\Version0\Controllers\TranslatorConfigController
	- App\ApiModule\Version0\Controllers\UserController
	- App\ApiModule\Version0\Controllers\UsersController
	- App\ApiModule\Version0\Controllers\VersionController
