services:
	allowOptionsMethodMiddleware:
		factory: App\ApiModule\Version0\Middlewares\AllowOptionsMethodMiddleware
		tags: [middleware: [priority: 5]]
	authMiddleware:
		factory: App\ApiModule\Version0\Middlewares\AuthenticationMiddleware
		tags: [middleware: [priority: 10]]
	corsMiddleware:
		factory: App\ApiModule\Version0\Middlewares\CorsMiddleware
		tags: [middleware: [priority: 5]]
