# Copyright 2017-2024 IQRF Tech s.r.o.
# Copyright 2019-2024 MICRORISC s.r.o.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

services:
	middleware.auth:
		factory: App\ApiModule\Version0\Middlewares\AuthenticationMiddleware
		tags: [middleware: [priority: 250]]
	midlleware.cors:
		factory: App\ApiModule\Version0\Middlewares\CorsMiddleware
		tags: [middleware: [priority: 200]]
	middleware.tryCatch:
		factory: Contributte\Middlewares\TryCatchMiddleware
		tags: [middleware: [priority: 1]]
		setup:
			- setDebugMode(%debugMode%)
			- setCatchExceptions(%productionMode%) # used in debug only
			- setLogger(@monolog.logger.default, Psr\Log\LogLevel::ERROR)
