services:
	apiJsonSchemaValidator:
		factory: App\ApiModule\Version0\Models\JsonSchemaValidator
		autowired: self
	- App\ApiModule\Version0\Models\BearerAuthenticator
	- App\ApiModule\Version0\Models\JwtConfigurator
