{layout '@layout.latte'}
{block title}{_mail.emailVerification.title}{/block}
{block body}
<p>
	{_mail.emailVerification.greeting, [username => $user->getUserName()]|breakLines}
</p>

<p>
	{_mail.emailVerification.body, [hostname => $hostname]|breakLines}<br>
	<a href="{$url}">{$url}</a>
</p>

<p>
	{_mail.emailVerification.footer, [hostname => $hostname]|breakLines}
</p>
{/block}
